interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/voice_in_trunks
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"c6fbfd81-094a-4c5b-8447-e68cfe9d711e\"\
        ,\n    \"type\": \"voice_in_trunks\",\n    \"attributes\": {\n      \"priority\"\
        : 1,\n      \"capacity_limit\": null,\n      \"weight\": 65535,\n      \"\
        name\": \"hello, test h323 trunk\",\n      \"cli_format\": \"e164\",\n   \
        \   \"cli_prefix\": null,\n      \"description\": null,\n      \"ringing_timeout\"\
        : null,\n      \"configuration\": {\n        \"type\": \"iax2_configurations\"\
        ,\n        \"attributes\": {\n          \"dst\": \"558540420024\",\n     \
        \     \"host\": \"example.com\",\n          \"port\": 4569,\n          \"\
        auth_user\": null,\n          \"auth_password\": null,\n          \"codec_ids\"\
        : [\n            9,\n            10,\n            8,\n            7,\n   \
        \         6\n          ]\n        }\n      },\n      \"created_at\": \"2018-12-29T10:13:56.189Z\"\
        \n    },\n    \"relationships\": {\n      \"voice_in_trunk_group\": {\n  \
        \      \"links\": {\n          \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/c6fbfd81-094a-4c5b-8447-e68cfe9d711e/relationships/voice_in_trunk_group\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/c6fbfd81-094a-4c5b-8447-e68cfe9d711e/voice_in_trunk_group\"\
        \n        }\n      },\n      \"pop\": {\n        \"links\": {\n          \"\
        self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/c6fbfd81-094a-4c5b-8447-e68cfe9d711e/relationships/pop\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/c6fbfd81-094a-4c5b-8447-e68cfe9d711e/pop\"\
        \n        }\n      }\n    }\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
