interactions:
- request:
    body: '{"data":{"type":"voice_in_trunks","attributes":{"configuration":{"type":"pstn_configurations","attributes":{"dst":"558540420024"}},"name":"hello,
      test pstn trunk"}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/voice_in_trunks
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"41b94706-325e-4704-a433-d65105758836\"\
        ,\n    \"type\": \"voice_in_trunks\",\n    \"attributes\": {\n      \"priority\"\
        : 1,\n      \"capacity_limit\": null,\n      \"weight\": 65535,\n      \"\
        name\": \"hello, test pstn trunk\",\n      \"cli_format\": \"e164\",\n   \
        \   \"cli_prefix\": null,\n      \"description\": null,\n      \"ringing_timeout\"\
        : null,\n      \"configuration\": {\n        \"type\": \"pstn_configurations\"\
        ,\n        \"attributes\": {\n          \"dst\": \"558540420024\"\n      \
        \  }\n      },\n      \"created_at\": \"2018-12-29T09:51:54.661Z\"\n    },\n\
        \    \"relationships\": {\n      \"voice_in_trunk_group\": {\n        \"links\"\
        : {\n          \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/41b94706-325e-4704-a433-d65105758836/relationships/voice_in_trunk_group\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/41b94706-325e-4704-a433-d65105758836/voice_in_trunk_group\"\
        \n        }\n      },\n      \"pop\": {\n        \"links\": {\n          \"\
        self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/41b94706-325e-4704-a433-d65105758836/relationships/pop\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/41b94706-325e-4704-a433-d65105758836/pop\"\
        \n        }\n      }\n    }\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
