interactions:
- request:
    body: '{"data":{"type":"voice_in_trunks","attributes":{"configuration":{"type":"pstn_configurations","attributes":{"dst":"558540420024"}},"name":"hello, test pstn trunk"}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/voice_in_trunks
  response:
    body:
      string: '{"data":{"id":"41b94706-325e-4704-a433-d65105758836","type":"voice_in_trunks","attributes":{"priority":1,"capacity_limit":null,"weight":65535,"name":"hello, test pstn trunk","cli_format":"e164","cli_prefix":null,"description":null,"ringing_timeout":null,"configuration":{"type":"pstn_configurations","attributes":{"dst":"558540420024"}},"created_at":"2018-12-29T09:51:54.661Z"},"relationships":{"voice_in_trunk_group":{"links":{"self":"https://sandbox-api.didww.com/v3/voice_in_trunks/41b94706-325e-4704-a433-d65105758836/relationships/voice_in_trunk_group","related":"https://sandbox-api.didww.com/v3/voice_in_trunks/41b94706-325e-4704-a433-d65105758836/voice_in_trunk_group"}},"pop":{"links":{"self":"https://sandbox-api.didww.com/v3/voice_in_trunks/41b94706-325e-4704-a433-d65105758836/relationships/pop","related":"https://sandbox-api.didww.com/v3/voice_in_trunks/41b94706-325e-4704-a433-d65105758836/pop"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
