interactions:
- request:
    body: '{"data":{"id":"57a939dd-1600-41a6-80b1-f624e22a1f4c","type":"voice_in_trunks","attributes":{"configuration":{"type":"sip_configurations","attributes":{"enabled_sip_registration":false,"use_did_in_ruri":false,"host":"203.0.113.10"}}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
      X-DIDWW-API-Version:
      - '2026-04-16'
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/voice_in_trunks/57a939dd-1600-41a6-80b1-f624e22a1f4c
  response:
    body:
      string: '{"data":{"id":"57a939dd-1600-41a6-80b1-f624e22a1f4c","type":"voice_in_trunks","attributes":{"name":"Office","priority":1,"weight":65535,"cli_format":"e164","configuration":{"type":"sip_configurations","attributes":{"username":null,"host":"203.0.113.10","port":null,"enabled_sip_registration":false,"use_did_in_ruri":false,"cnam_lookup":true,"diversion_relay_policy":"none","diversion_inject_mode":"did_number","network_protocol_priority":"prefer_ipv4","incoming_auth_username":null,"incoming_auth_password":null}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
