interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/voice_in_trunks
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"9cbadd6f-0665-46bc-b3aa-687d22157808\"\
        ,\n      \"type\": \"voice_in_trunks\",\n      \"attributes\": {\n       \
        \ \"priority\": 1,\n        \"capacity_limit\": null,\n        \"weight\"\
        : 65535,\n        \"name\": \"iax2 trunk sample\",\n        \"cli_format\"\
        : \"e164\",\n        \"cli_prefix\": \"\",\n        \"description\": \"\"\
        ,\n        \"ringing_timeout\": null,\n        \"configuration\": {\n    \
        \      \"type\": \"iax2_configurations\",\n          \"attributes\": {\n \
        \           \"dst\": \"{DID}\",\n            \"host\": \"216.58.215.78\",\n\
        \            \"port\": 4569,\n            \"auth_user\": \"auth_user\",\n\
        \            \"auth_password\": \"auth_password\",\n            \"codec_ids\"\
        : [\n              9,\n              6,\n              10,\n             \
        \ 8\n            ]\n          }\n        },\n        \"created_at\": \"2018-12-28T15:11:49.330Z\"\
        \n      },\n      \"relationships\": {\n        \"voice_in_trunk_group\":\
        \ {\n          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/9cbadd6f-0665-46bc-b3aa-687d22157808/relationships/voice_in_trunk_group\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/9cbadd6f-0665-46bc-b3aa-687d22157808/voice_in_trunk_group\"\
        \n          },\n          \"data\": {\n            \"type\": \"voice_in_trunk_groups\"\
        ,\n            \"id\": \"837c5764-a6c3-456f-aa37-71fc8f8ca07b\"\n        \
        \  }\n        },\n        \"pop\": {\n          \"links\": {\n           \
        \ \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/9cbadd6f-0665-46bc-b3aa-687d22157808/relationships/pop\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/9cbadd6f-0665-46bc-b3aa-687d22157808/pop\"\
        \n          },\n          \"data\": null\n        }\n      }\n    },\n   \
        \ {\n      \"id\": \"2b4b1fcf-fe6a-4de9-8a58-7df46820ba13\",\n      \"type\"\
        : \"voice_in_trunks\",\n      \"attributes\": {\n        \"priority\": 1,\n\
        \        \"capacity_limit\": null,\n        \"weight\": 65535,\n        \"\
        name\": \"sample trunk pstn\",\n        \"cli_format\": \"e164\",\n      \
        \  \"cli_prefix\": \"\",\n        \"description\": \"\",\n        \"ringing_timeout\"\
        : null,\n        \"configuration\": {\n          \"type\": \"pstn_configurations\"\
        ,\n          \"attributes\": {\n            \"dst\": \"442080995011\"\n  \
        \        }\n        },\n        \"created_at\": \"2018-12-28T15:03:48.751Z\"\
        \n      },\n      \"relationships\": {\n        \"voice_in_trunk_group\":\
        \ {\n          \"links\": {\n    [...]
