interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/voice_in_trunks/a80006b6-4183-4865-8b99-7ebbd359a762
  response:
    body:
      string: '{"data":{"id":"a80006b6-4183-4865-8b99-7ebbd359a762","type":"voice_in_trunks","attributes":{"priority":1,"capacity_limit":null,"weight":65535,"name":"hello, updated test sip trunk","cli_format":"e164","cli_prefix":null,"description":"just a description","ringing_timeout":null,"configuration":{"type":"sip_configurations","attributes":{"username":"new-username","host":"203.0.113.110","port":5060,"codec_ids":[9,10,8,7,6],"rx_dtmf_format_id":1,"tx_dtmf_format_id":1,"resolve_ruri":false,"auth_enabled":false,"auth_user":null,"auth_password":null,"auth_from_user":null,"auth_from_domain":null,"sst_enabled":false,"sst_min_timer":600,"sst_max_timer":900,"sst_accept_501":true,"sip_timer_b":8000,"dns_srv_failover_timer":2000,"rtp_ping":false,"rtp_timeout":30,"force_symmetric_rtp":false,"symmetric_rtp_ignore_rtcp":false,"rerouting_disconnect_code_ids":[56,58,59,60,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,86,87,88,89,90,91,92,96,97,98,99,101,102,103,104,105,106,107,108,1505],"sst_session_expires":null,"sst_refresh_method_id":1,"transport_protocol_id":1,"max_transfers":5,"max_30x_redirects":0,"media_encryption_mode":"zrtp","stir_shaken_mode":"pai","allowed_rtp_ips":["203.0.113.1"],"network_protocol_priority":"force_ipv4","enabled_sip_registration":false,"use_did_in_ruri":false,"diversion_relay_policy":"none","diversion_inject_mode":"did_number","cnam_lookup":false,"incoming_auth_username":null,"incoming_auth_password":null}},"created_at":"2018-12-28T17:37:48.010Z"},"relationships":{"voice_in_trunk_group":{"links":{"self":"https://sandbox-api.didww.com/v3/voice_in_trunks/a80006b6-4183-4865-8b99-7ebbd359a762/relationships/voice_in_trunk_group","related":"https://sandbox-api.didww.com/v3/voice_in_trunks/a80006b6-4183-4865-8b99-7ebbd359a762/voice_in_trunk_group"}},"pop":{"links":{"self":"https://sandbox-api.didww.com/v3/voice_in_trunks/a80006b6-4183-4865-8b99-7ebbd359a762/relationships/pop","related":"https://sandbox-api.didww.com/v3/voice_in_trunks/a80006b6-4183-4865-8b99-7ebbd359a762/pop"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
