interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/available_dids
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"0b76223b-9625-412f-b0f3-330551473e7e\"\
        ,\n      \"type\": \"available_dids\",\n      \"attributes\": {\n        \"\
        number\": \"16169886810\"\n      },\n      \"relationships\": {\n        \"\
        did_group\": {\n          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/available_dids/0b76223b-9625-412f-b0f3-330551473e7e/relationships/did_group\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/available_dids/0b76223b-9625-412f-b0f3-330551473e7e/did_group\"\
        \n          }\n        }\n      }\n    },\n    {\n      \"id\": \"b6db898e-5c40-40b2-9ee8-3847d5345435\"\
        ,\n      \"type\": \"available_dids\",\n      \"attributes\": {\n        \"\
        number\": \"61872285223\"\n      },\n      \"relationships\": {\n        \"\
        did_group\": {\n          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/available_[...]
