interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/available_dids?include=nanpa_prefix
  response:
    body:
      string: '{"data":[{"id":"aa13b01c-36c8-405c-b5a8-1427aa7966ea","type":"available_dids","attributes":{"number":"18649204444"},"relationships":{"did_group":{"links":{"self":"https://sandbox-api.didww.com/v3/available_dids/aa13b01c-36c8-405c-b5a8-1427aa7966ea/relationships/did_group","related":"https://sandbox-api.didww.com/v3/available_dids/aa13b01c-36c8-405c-b5a8-1427aa7966ea/did_group"}},"nanpa_prefix":{"links":{"self":"https://sandbox-api.didww.com/v3/available_dids/aa13b01c-36c8-405c-b5a8-1427aa7966ea/relationships/nanpa_prefix","related":"https://sandbox-api.didww.com/v3/available_dids/aa13b01c-36c8-405c-b5a8-1427aa7966ea/nanpa_prefix"},"data":{"type":"nanpa_prefixes","id":"f3a2b1c0-1234-5678-9abc-def012345678"}}}}],"included":[{"id":"f3a2b1c0-1234-5678-9abc-def012345678","type":"nanpa_prefixes","attributes":{"npa":"864","nxx":"920"},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/nanpa_prefixes/f3a2b1c0-1234-5678-9abc-def012345678/relationships/country","related":"https://sandbox-api.didww.com/v3/nanpa_prefixes/f3a2b1c0-1234-5678-9abc-def012345678/country"}},"region":{"links":{"self":"https://sandbox-api.didww.com/v3/nanpa_prefixes/f3a2b1c0-1234-5678-9abc-def012345678/relationships/region","related":"https://sandbox-api.didww.com/v3/nanpa_prefixes/f3a2b1c0-1234-5678-9abc-def012345678/region"}}}}],"meta":{"total_count":1,"api_version":"2022-05-09"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
