interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/available_dids
  response:
    body:
      string: '{"data":[{"id":"0b76223b-9625-412f-b0f3-330551473e7e","type":"available_dids","attributes":{"number":"16169886810"},"relationships":{"did_group":{"links":{"self":"https://sandbox-api.didww.com/v3/available_dids/0b76223b-9625-412f-b0f3-330551473e7e/relationships/did_group","related":"https://sandbox-api.didww.com/v3/available_dids/0b76223b-9625-412f-b0f3-330551473e7e/did_group"}}}},{"id":"b6db898e-5c40-40b2-9ee8-3847d5345435","type":"available_dids","attributes":{"number":"61872285223"},"relationships":{"did_group":{"links":{"self":"https://sandbox-api.didww.com/v3/available_dids/b6db898e-5c40-40b2-9ee8-3847d5345435/relationships/did_group","related":"https://sandbox-api.didww.com/v3/available_dids/b6db898e-5c40-40b2-9ee8-3847d5345435/did_group"}}}},{"id":"89ca2b0e-38eb-430[...]
