interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/available_dids/0b76223b-9625-412f-b0f3-330551473e7e
  response:
    body:
      string: '{"data":{"id":"0b76223b-9625-412f-b0f3-330551473e7e","type":"available_dids","attributes":{"number":"16169886810"},"relationships":{"did_group":{"links":{"self":"https://sandbox-api.didww.com/v3/available_dids/0b76223b-9625-412f-b0f3-330551473e7e/relationships/did_group","related":"https://sandbox-api.didww.com/v3/available_dids/0b76223b-9625-412f-b0f3-330551473e7e/did_group"},"data":{"type":"did_groups","id":"a9e3d346-d7bc-4a85-adb0-8ef1119cf237"}}}},"included":[{"id":"a9e3d346-d7bc-4a85-adb0-8ef1119cf237","type":"did_groups","attributes":{"prefix":"616","local_prefix":"","features":["voice"],"is_metered":false,"area_name":"Grand Rapids","allow_additional_channels":true},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/a9e3d346-d7bc-4a85-adb0-8ef1119cf237/relationships/country","related":"https://sandbox-api.didww.com/v3/did_groups/a9e3d346-d7bc-4a85-adb0-8ef1119cf237/country"}},"city":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/a9e3d346-d7bc-4a85-adb0-8ef1119cf237/relationships/city","related":"https://sandbox-api.didww.com/v3/did_groups/a9e3d346-d7bc-4a85-adb0-8ef1119cf237/city"}},"did_group_type":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/a9e3d346-d7bc-4a85-adb0-8ef1119cf237/relationships/did_group_type","related":"https://sandbox-api.didww.com/v3/did_groups/a9e3d346-d7bc-4a85-adb0-8ef1119cf237/did_group_type"}},"region":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/a9e3d346-d7bc-4a85-adb0-8ef1119cf237/relationships/region","related":"https://sandbox-api.didww.com/v3/did_groups/a9e3d346-d7bc-4a85-adb0-8ef1119cf237/region"}},"stock_keeping_units":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/a9e3d346-d7bc-4a85-adb0-8ef1119cf237/relationships/stock_keeping_units","related":"https://sandbox-api.didww.com/v3/did_groups/a9e3d346-d7bc-4a85-adb0-8ef1119cf237/stock_keeping_units"},"data":[{"type":"stock_keeping_units","id":"bdff43ad-2db8-428c-a65c-f2d4d43720b6"},{"type":"stock_keeping_units","id":"884835e7-fffb-4293-9847-89f65449d70c"}]}},"meta":{"needs_registration":false,"is_available":true,"restrictions":null,"available_dids_enabled":true}},{"id":"bdff43ad-2db8-428c-a65c-f2d4d43720b6","type":"stock_keeping_units","attributes":{"setup_price":"0.0","monthly_price":"0.09","channels_included_count":0}},{"id":"884835e7-fffb-4293-9847-89f65449d70c","type":"stock_keeping_units","attributes":{"setup_price":"0.0","monthly_price":"0.19","channels_included_count":2}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
