interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/did_groups
  response:
    body:
      string: '{"data": [{"id": "f6cc4ea6-6dda-4c51-9952-c1440441bc2f", "type": "did_groups",
        "attributes": {"prefix": "864", "features": ["voice_in", "sms_in", "t38"],
        "is_metered": false, "area_name": "Inman", "allow_additional_channels": true,
        "service_restrictions": null}, "relationships": {"country": {"links": {"self":
        "https://sandbox-api.didww.com/v3/did_groups/f6cc4ea6-6dda-4c51-9952-c1440441bc2f/relationships/country",
        "related": "https://sandbox-api.didww.com/v3/did_groups/f6cc4ea6-6dda-4c51-9952-c1440441bc2f/country"}},
        "city": {"links": {"self": "https://sandbox-api.didww.com/v3/did_groups/f6cc4ea6-6dda-4c51-9952-c1440441bc2f/relationships/city",
        "related": "https://sandbox-api.didww.com/v3/did_groups/f6cc4ea6-6dda-4c51-9952-c1440441bc2f/city"}},
        "did_group_type": {"links": {"self": "https://sandbox-api.didww.com/v3/did_groups/f6cc4ea6-6dda-4c51-9952-c1440441bc2f/relationships/did_group_type",
        "related": "https://sandbox-api.didww.com/v3/did_groups/f6cc4ea6-6dda-4c51-9952-c1440441bc2f/did_group_type"}},
        "region": {"links": {"self": "https://sandbox-api.didww.com/v3/did_groups/f6cc4ea6-6dda-4c51-9952-c1440441bc2f/relationships/region",
        "related": "https://sandbox-api.didww.com/v3/did_groups/f6cc4ea6-6dda-4c51-9952-c1440441bc2f/region"}},
        "stock_keeping_units": {"links": {"self": "https://sandbox-api.didww.com/v3/did_groups/f6cc4ea6-6dda-4c51-9952-c1440441bc2f/relationships/stock_keeping_units",
        "related": "https://sandbox-api.didww.com/v3/did_groups/f6cc4ea6-6dda-4c51-9952-c1440441bc2f/stock_keeping_units"}},
        "address_requirement": {"links": {"self": "https://sandbox-api.didww.com/v3/did_groups/f6cc4ea6-6dda-4c51-9952-c1440441bc2f/relationships/address_requirement",
        "related": "https://sandbox-api.didww.com/v3/did_groups/f6cc4ea6-6dda-4c51-9952-c1440441bc2f/address_requirement"}}},
        "meta": {"available_dids_enabled": false, "needs_registration": false, "is_available":
        true, "total_count": 1}}], "meta": {"total_records": 1, "api_version": "2022-05-09"},
        "links": {"first": "https://sandbox-api.didww.com/v3/did_groups?filter%5Bnanpa_prefix.id%5D=eeed293b-f3d8-4ef8-91ef-1b077d174b3b&page%5Bnumber%5D=1&page%5Bsize%5D=50",
        "last": "https://sandbox-api.didww.com/v3/did_groups?filter%5Bnanpa_prefix.id%5D=eeed293b-f3d8-4ef8-91ef-1b077d174b3b&page%5Bnumber%5D=1&page%5Bsize%5D=50"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
