interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/did_groups
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"2187c36d-28fb-436f-8861-5a0f5b5a3ee1\"\
        ,\n      \"type\": \"did_groups\",\n      \"attributes\": {\n        \"prefix\"\
        : \"241\",\n        \"features\": [\n          \"voice\"\n        ],\n   \
        \     \"is_metered\": false,\n        \"area_name\": \"Aachen\",\n       \
        \ \"allow_additional_channels\": true\n      },\n      \"relationships\":\
        \ {\n        \"country\": {\n          \"links\": {\n            \"self\"\
        : \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/country\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/country\"\
        \n          }\n        },\n        \"city\": {\n          \"links\": {\n \
        \           \"self\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/city\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/city\"\
        \n          }\n        },\n        \"did_group_type\": {\n          \"links\"\
        : {\n            \"self\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/did_group_type\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/did_group_type\"\
        \n          }\n        },\n        \"region\": {\n          \"links\": {\n\
        \            \"self\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/region\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/region\"\
        \n          }\n        },\n        \"stock_keeping_units\": {\n          \"\
        links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/stock_keeping_units\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/stock_keeping_units\"\
        \n          }\n        }\n      },\n      \"meta\": {\n        \"needs_registration\"\
        : true,\n        \"is_available\": true,\n        \"available_dids_enabled\"\
        : false\n      }\n    },\n    {\n      \"id\": \"9ed5d612-e107-4d43-967f-3181f1fa394c\"\
        ,\n      \"type\": \"did_groups\",\n      \"attributes\": {\n        \"prefix\"\
        : \"334\",\n        \"features\": [\n          \"voice\"\n        ],\n   \
        \     \"is_metered\": false,\n        \"area_name\": \"Abbeville\",\n    \
        \    \"allow_additional_channels\": true\n      },\n      \"relationships\"\
        : {\n      [...]
