interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1
  response:
    body:
      string: '{"data":{"id":"2187c36d-28fb-436f-8861-5a0f5b5a3ee1","type":"did_groups","attributes":{"prefix":"241","local_prefix":"","features":["voice"],"is_metered":false,"area_name":"Aachen","allow_additional_channels":true},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/country","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/country"},"data":{"type":"countries","id":"dfd1a0a0-bd53-4f7a-9c8e-d2fc5dd1bf7e"}},"city":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/city","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/city"},"data":{"type":"cities","id":"bba735f9-7c37-499b-8998-94a5fca5d158"}},"did_group_type":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/did_group_type","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/did_group_type"},"data":{"type":"did_group_types","id":"994ea201-4a4d-4b27-ac4b-b5916ac969a3"}},"region":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/region","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/region"},"data":null},"stock_keeping_units":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/stock_keeping_units","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/stock_keeping_units"},"data":[{"type":"stock_keeping_units","id":"5c6f00cd-cfca-441f-9322-5d000458b44f"},{"type":"stock_keeping_units","id":"afcb54cd-1e36-472a-9f5b-07328d0d187f"}]}},"meta":{"needs_registration":true,"is_available":true,"restrictions":"German Geographic Registration:\r\n\r\nGerman Local DID registration requirements:\r\n1. Name, business name and contact phone number.\r\n2. Passport or ID copy.**\r\n3. Current address in Germany, must be from the same city in Germany as the DID ordered (street, building number, postal code, city).\r\n4. Proof of address form (a copy of utility bill no older than of 6 months).\r5. Specific registration form is provided during registration process which has to be filled in and signed by the customer.\r\n\r\n* Number provided online is demo. Active number will be provided when registration process is complete.\r\n** In case registration process is performed under a company name, German company registration certificate shall be provided instead of passport or ID copy.\r\n\r\nInformation should be sent to customer.care@didww.com within 10 days.\r\n\r\nDID number will not be activated until full registration details are provided and approved.\r\n","available_dids_enabled":false}},"included":[{"id":"dfd1a0a0-bd53-4f7a-9c8e-d2fc5dd1bf7e","type":"countries","attributes":{"name":"Germany","prefix":"49","iso":"DE"}},{"id":"bba735f9-7c37-499b-8998-94a5fca5d158","type":"cities","attributes":{"name":"Aachen"},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/relationships/country","related":"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/country"}},"region":{"links":{"self":"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/relationships/region","related":"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/region"}}}},{"id":"994ea201-4a4d-4b27-ac4b-b5916ac969a3","type":"did_group_types","attributes":{"name":"Local"}},{"id":"5c6f00cd-cfca-441f-9322-5d000458b44f","type":"stock_keeping_units","attributes":{"setup_price":"0.4","monthly_price":"0.8","channels_included_count":0}},{"id":"afcb54cd-1e36-472a-9f5b-07328d0d187f","type":"stock_keeping_units","attributes":{"setup_price":"1.0","monthly_price":"4.8","channels_included_count":2}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
