interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1?include=address_requirement
  response:
    body:
      string: '{"data":{"id":"2187c36d-28fb-436f-8861-5a0f5b5a3ee1","type":"did_groups","attributes":{"prefix":"241","local_prefix":"","features":["voice"],"is_metered":false,"area_name":"Aachen","allow_additional_channels":true},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/country","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/country"},"data":{"type":"countries","id":"dfd1a0a0-bd53-4f7a-9c8e-d2fc5dd1bf7e"}},"city":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/city","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/city"},"data":{"type":"cities","id":"bba735f9-7c37-499b-8998-94a5fca5d158"}},"did_group_type":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/did_group_type","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/did_group_type"},"data":{"type":"did_group_types","id":"994ea201-4a4d-4b27-ac4b-b5916ac969a3"}},"region":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/region","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/region"},"data":null},"stock_keeping_units":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/stock_keeping_units","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/stock_keeping_units"}},"address_requirement":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/address_requirement","related":"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/address_requirement"},"data":{"type":"address_requirements","id":"8da1e0b2-047c-4baf-9c57-57143f09b9ce"}}},"meta":{"needs_registration":true,"is_available":true}},"included":[{"id":"8da1e0b2-047c-4baf-9c57-57143f09b9ce","type":"address_requirements","attributes":{"identity_type":"Any","personal_area_level":"city","business_area_level":"city","address_area_level":"city","personal_proof_qty":1,"business_proof_qty":0,"address_proof_qty":1,"personal_mandatory_fields":["first_name","last_name"],"business_mandatory_fields":[],"service_description_required":false,"restriction_message":null},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/8da1e0b2-047c-4baf-9c57-57143f09b9ce/relationships/country","related":"https://sandbox-api.didww.com/v3/address_requirements/8da1e0b2-047c-4baf-9c57-57143f09b9ce/country"}},"did_group_type":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/8da1e0b2-047c-4baf-9c57-57143f09b9ce/relationships/did_group_type","related":"https://sandbox-api.didww.com/v3/address_requirements/8da1e0b2-047c-4baf-9c57-57143f09b9ce/did_group_type"}}}}],"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
