interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1?include=address_requirement
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"2187c36d-28fb-436f-8861-5a0f5b5a3ee1\"\
        ,\n    \"type\": \"did_groups\",\n    \"attributes\": {\n      \"prefix\"\
        : \"241\",\n      \"local_prefix\": \"\",\n      \"features\": [\n       \
        \ \"voice\"\n      ],\n      \"is_metered\": false,\n      \"area_name\":\
        \ \"Aachen\",\n      \"allow_additional_channels\": true\n    },\n    \"relationships\"\
        : {\n      \"country\": {\n        \"links\": {\n          \"self\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/country\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/country\"\
        \n        },\n        \"data\": {\n          \"type\": \"countries\",\n  \
        \        \"id\": \"dfd1a0a0-bd53-4f7a-9c8e-d2fc5dd1bf7e\"\n        }\n   \
        \   },\n      \"city\": {\n        \"links\": {\n          \"self\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/city\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/city\"\
        \n        },\n        \"data\": {\n          \"type\": \"cities\",\n     \
        \     \"id\": \"bba735f9-7c37-499b-8998-94a5fca5d158\"\n        }\n      },\n\
        \      \"did_group_type\": {\n        \"links\": {\n          \"self\": \"\
        https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/did_group_type\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/did_group_type\"\
        \n        },\n        \"data\": {\n          \"type\": \"did_group_types\"\
        ,\n          \"id\": \"994ea201-4a4d-4b27-ac4b-b5916ac969a3\"\n        }\n\
        \      },\n      \"region\": {\n        \"links\": {\n          \"self\":\
        \ \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/region\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/region\"\
        \n        },\n        \"data\": null\n      },\n      \"stock_keeping_units\"\
        : {\n        \"links\": {\n          \"self\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/stock_keeping_units\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/stock_keeping_units\"\
        \n        }\n      },\n      \"address_requirement\": {\n        \"links\": {\n  \
        \        \"self\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/relationships/address_requirement\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/did_groups/2187c36d-28fb-436f-8861-5a0f5b5a3ee1/address_requirement\"\
        \n        },\n        \"data\": {\n          \"type\": \"address_requirements\",\n\
        \          \"id\": \"8da1e0b2-047c-4baf-9c57-57143f09b9ce\"\n        }\n \
        \     }\n    },\n    \"meta\": {\n      \"needs_registration\": true,\n  \
        \    \"is_available\": true\n    }\n  },\n  \"included\": [\n    {\n      \
        \"id\": \"8da1e0b2-047c-4baf-9c57-57143f09b9ce\",\n      \"type\": \"address_requirements\"\
        ,\n      \"attributes\": {\n        \"identity_type\": \"Any\",\n        \"\
        personal_area_level\": \"City\",\n        \"business_area_level\": \"City\"\
        ,\n        \"address_area_level\": \"City\",\n        \"personal_proof_qty\"\
        : 1,\n        \"business_proof_qty\": 0,\n        \"address_proof_qty\": 1,\n\
        \        \"personal_mandatory_fields\": [\n          \"first_name\",\n    \
        \      \"last_name\"\n        ],\n        \"business_mandatory_fields\": [],\n\
        \        \"service_description_required\": false,\n        \"restriction_message\"\
        : null\n      },\n      \"relationships\": {\n        \"country\": {\n   \
        \       \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/address_requirements/8da1e0b2-047c-4baf-9c57-57143f09b9ce/relationships/country\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/address_requirements/8da1e0b2-047c-4baf-9c57-57143f09b9ce/country\"\
        \n          }\n        },\n        \"did_group_type\": {\n          \"links\"\
        : {\n            \"self\": \"https://sandbox-api.didww.com/v3/address_requirements/8da1e0b2-047c-4baf-9c57-57143f09b9ce/relationships/did_group_type\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/address_requirements/8da1e0b2-047c-4baf-9c57-57143f09b9ce/did_group_type\"\
        \n          }\n        }\n      }\n    }\n  ],\n  \"meta\": {\n    \"api_version\"\
        : \"2022-05-09\"\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
