interactions:
- request:
    body: '{"data":{"type":"permanent_supporting_documents","attributes":{},"relationships":{"identity":{"data":{"type":"identities","id":"5e9df058-50d2-4e34-b0d4-d1746b86f41a"}},"template":{"data":{"type":"supporting_document_templates","id":"4199435f-646e-4e9d-a143-8f3b972b10c5"}},"files":{"data":[{"type":"encrypted_files","id":"254b3c2d-c40c-4ff7-93b1-a677aee7fa10"}]}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/permanent_supporting_documents
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"19510da3-c07e-4fa9-a696-6b9ab89cc172\"\
        ,\n    \"type\": \"permanent_supporting_documents\",\n    \"attributes\":\
        \ {\n      \"created_at\": \"2021-04-01T15:01:59.756Z\"\n    },\n    \"relationships\"\
        : {\n      \"template\": {\n        \"links\": {\n          \"self\": \"https://sandbox-api.didww.com/v3/permanent_supporting_documents/19510da3-c07e-4fa9-a696-6b9ab89cc172/relationships/template\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/permanent_supporting_documents/19510da3-c07e-4fa9-a696-6b9ab89cc172/template\"\
        \n        },\n        \"data\": {\n          \"type\": \"supporting_document_templates\"\
        ,\n          \"id\": \"4199435f-646e-4e9d-a143-8f3b972b10c5\"\n        }\n\
        \      },\n      \"identity\": {\n        \"links\": {\n          \"self\"\
        : \"https://sandbox-api.didww.com/v3/permanent_supporting_documents/19510da3-c07e-4fa9-a696-6b9ab89cc172/relationships/identity\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/permanent_supporting_documents/19510da3-c07e-4fa9-a696-6b9ab89cc172/identity\"\
        \n        }\n      }\n    }\n  },\n  \"included\": [\n    {\n      \"id\"\
        : \"4199435f-646e-4e9d-a143-8f3b972b10c5\",\n      \"type\": \"supporting_document_templates\"\
        ,\n      \"attributes\": {\n        \"name\": \"Germany Special Registration\
        \ Form\",\n        \"permanent\": true,\n        \"url\": \"https://sandbox-api.didww.com/storage/public/4rghqnqtba0fa7mbdgig086xej1e\"\
        \n      }\n    }\n  ],\n  \"meta\": {\n    \"api_version\": \"2021-04-19\"\
        \n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
