interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/did_reservations
  response:
    body:
      string: '{"data":{"id":"fd38d3ff-80cf-4e67-a605-609a2884a5c4","type":"did_reservations","attributes":{"expires_at":"2018-12-28T16:22:00.417Z","created_at":"2018-12-28T16:12:00.440Z","description":"DIDWW"},"relationships":{"available_did":{"links":{"self":"https://sandbox-api.didww.com/v3/did_reservations/fd38d3ff-80cf-4e67-a605-609a2884a5c4/relationships/available_did","related":"https://sandbox-api.didww.com/v3/did_reservations/fd38d3ff-80cf-4e67-a605-609a2884a5c4/available_did"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
