interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: DELETE
    uri: https://sandbox-api.didww.com/v3/did_reservations/unknown-id
  response:
    body:
      string: "{\n  \"errors\": [\n    {\n      \"title\": \"Record not found\",\n\
        \      \"detail\": \"The record identified by fd38d3ff-80cf-4e67-a605-609a2884a5c4\
        \ could not be found.\",\n      \"code\": \"404\",\n      \"status\": \"404\"\
        \n    }\n  ]\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
