interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/did_reservations
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"fd38d3ff-80cf-4e67-a605-609a2884a5c4\"\
        ,\n      \"type\": \"did_reservations\",\n      \"attributes\": {\n      \
        \  \"expire_at\": \"2018-12-28T16:22:00.417Z\",\n        \"created_at\": \"\
        2018-12-28T16:12:00.440Z\",\n        \"description\": \"DIDWW\"\n      },\n\
        \      \"relationships\": {\n        \"available_did\": {\n          \"links\"\
        : {\n            \"self\": \"https://sandbox-api.didww.com/v3/did_reservations/fd38d3ff-80cf-4e67-a605-609a2884a5c4/relationships/available_did\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/did_reservations/fd38d3ff-80cf-4e67-a605-609a2884a5c4/available_did\"\
        \n          }\n        }\n      }\n    }\n  ],\n  \"meta\": {\n    \"total_records\"\
        : 1,\n    \"available_count\": 9\n  },\n  \"links\": {\n    \"first\": \"\
        https://sandbox-api.didww.com/v3/did_reservations?page%5Bnumber%5D=1&page%5Bsize%5D=50\"\
        ,\n    \"last\": \"https://sandbox-api.didww.com/v3/did_reservations?page%5Bnumber%5D=1&page%5Bsize%5D=50\"\
        \n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
