interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/did_reservations/fd38d3ff-80cf-4e67-a605-609a2884a5c4
  response:
    body:
      string: '{"data":{"id":"fd38d3ff-80cf-4e67-a605-609a2884a5c4","type":"did_reservations","attributes":{"expires_at":"2018-12-28T16:22:00.417Z","created_at":"2018-12-28T16:12:00.440Z","description":"DIDWW"},"relationships":{"available_did":{"links":{"self":"https://sandbox-api.didww.com/v3/did_reservations/fd38d3ff-80cf-4e67-a605-609a2884a5c4/relationships/available_did","related":"https://sandbox-api.didww.com/v3/did_reservations/fd38d3ff-80cf-4e67-a605-609a2884a5c4/available_did"},"data":{"type":"available_dids","id":"857d1462-5f43-4238-b007-ff05f282e41b"}}}},"included":[{"id":"857d1462-5f43-4238-b007-ff05f282e41b","type":"available_dids","attributes":{"number":"19492033398"},"relationships":{"did_group":{"links":{"self":"https://sandbox-api.didww.com/v3/available_dids/857d1462-5f43-4238-b007-ff05f282e41b/relationships/did_group","related":"https://sandbox-api.didww.com/v3/available_dids/857d1462-5f43-4238-b007-ff05f282e41b/did_group"},"data":{"type":"did_groups","id":"23bc0f41-67c0-40c3-b877-dccbbb65d5e4"}}}},{"id":"23bc0f41-67c0-40c3-b877-dccbbb65d5e4","type":"did_groups","attributes":{"prefix":"949","local_prefix":"","features":["voice"],"is_metered":false,"area_name":"Saddleback Valley","allow_additional_channels":true},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/relationships/country","related":"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/country"}},"city":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/relationships/city","related":"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/city"}},"did_group_type":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/relationships/did_group_type","related":"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/did_group_type"}},"region":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/relationships/region","related":"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/region"}},"stock_keeping_units":{"links":{"self":"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/relationships/stock_keeping_units","related":"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/stock_keeping_units"},"data":[{"type":"stock_keeping_units","id":"209a43fa-41a5-490f-9376-97fdb0a727b3"},{"type":"stock_keeping_units","id":"76492222-4895-42bc-89be-a681a1e40f37"}]}},"meta":{"needs_registration":false,"is_available":true,"restrictions":null,"available_dids_enabled":true}},{"id":"209a43fa-41a5-490f-9376-97fdb0a727b3","type":"stock_keeping_units","attributes":{"setup_price":"0.0","monthly_price":"0.09","channels_included_count":0}},{"id":"76492222-4895-42bc-89be-a681a1e40f37","type":"stock_keeping_units","attributes":{"setup_price":"0.0","monthly_price":"0.19","channels_included_count":2}}],"meta":{"available_count":9}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
