interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/did_reservations/fd38d3ff-80cf-4e67-a605-609a2884a5c4
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"fd38d3ff-80cf-4e67-a605-609a2884a5c4\"\
        ,\n    \"type\": \"did_reservations\",\n    \"attributes\": {\n      \"expire_at\"\
        : \"2018-12-28T16:22:00.417Z\",\n      \"created_at\": \"2018-12-28T16:12:00.440Z\"\
        ,\n      \"description\": \"DIDWW\"\n    },\n    \"relationships\": {\n  \
        \    \"available_did\": {\n        \"links\": {\n          \"self\": \"https://sandbox-api.didww.com/v3/did_reservations/fd38d3ff-80cf-4e67-a605-609a2884a5c4/relationships/available_did\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/did_reservations/fd38d3ff-80cf-4e67-a605-609a2884a5c4/available_did\"\
        \n        },\n        \"data\": {\n          \"type\": \"available_dids\"\
        ,\n          \"id\": \"857d1462-5f43-4238-b007-ff05f282e41b\"\n        }\n\
        \      }\n    }\n  },\n  \"included\": [\n    {\n      \"id\": \"857d1462-5f43-4238-b007-ff05f282e41b\"\
        ,\n      \"type\": \"available_dids\",\n      \"attributes\": {\n        \"\
        number\": \"19492033398\"\n      },\n      \"relationships\": {\n        \"\
        did_group\": {\n          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/available_dids/857d1462-5f43-4238-b007-ff05f282e41b/relationships/did_group\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/available_dids/857d1462-5f43-4238-b007-ff05f282e41b/did_group\"\
        \n          },\n          \"data\": {\n            \"type\": \"did_groups\"\
        ,\n            \"id\": \"23bc0f41-67c0-40c3-b877-dccbbb65d5e4\"\n        \
        \  }\n        }\n      }\n    },\n    {\n      \"id\": \"23bc0f41-67c0-40c3-b877-dccbbb65d5e4\"\
        ,\n      \"type\": \"did_groups\",\n      \"attributes\": {\n        \"prefix\"\
        : \"949\",\n        \"local_prefix\": \"\",\n        \"features\": [\n   \
        \       \"voice\"\n        ],\n        \"is_metered\": false,\n        \"\
        area_name\": \"Saddleback Valley\",\n        \"allow_additional_channels\"\
        : true\n      },\n      \"relationships\": {\n        \"country\": {\n   \
        \       \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/relationships/country\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/country\"\
        \n          }\n        },\n        \"city\": {\n          \"links\": {\n \
        \           \"self\": \"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/relationships/city\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/city\"\
        \n          }\n        },\n        \"did_group_type\": {\n          \"links\"\
        : {\n            \"self\": \"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/relationships/did_group_type\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/did_group_type\"\
        \n          }\n        },\n        \"region\": {\n          \"links\": {\n\
        \            \"self\": \"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/relationships/region\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/region\"\
        \n          }\n        },\n        \"stock_keeping_units\": {\n          \"\
        links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/relationships/stock_keeping_units\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/did_groups/23bc0f41-67c0-40c3-b877-dccbbb65d5e4/stock_keeping_units\"\
        \n          },\n          \"data\": [\n            {\n              \"type\"\
        : \"stock_keeping_units\",\n              \"id\": \"209a43fa-41a5-490f-9376-97fdb0a727b3\"\
        \n            },\n            {\n              \"type\": \"stock_keeping_units\"\
        ,\n              \"id\": \"76492222-4895-42bc-89be-a681a1e40f37\"\n      \
        \      }\n          ]\n        }\n      },\n      \"meta\": {\n        \"\
        needs_registration\": false,\n        \"is_available\": true,\n        \"\
        restrictions\": null,\n        \"available_dids_enabled\": true\n      }\n\
        \    },\n    {\n      \"id\": \"209a43fa-41a5-490f-9376-97fdb0a727b3\",\n\
        \      \"type\": \"stock_keeping_units\",\n      \"attributes\": {\n     \
        \   \"setup_price\": \"0.0\",\n        \"monthly_price\": \"0.09\",\n    \
        \    \"channels_included_count\": 0\n      }\n    },\n    {\n      \"id\"\
        : \"76492222-4895-42bc-89be-a681a1e40f37\",\n      \"type\": \"stock_keeping_units\"\
        ,\n      \"attributes\": {\n        \"setup_price\": \"0.0\",\n        \"\
        monthly_price\": \"0.19\",\n        \"channels_included_count\": 2\n     \
        \ }\n    }\n  ],\n  \"meta\": {\n    \"available_count\": 9\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
