interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/areas
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"5df464d5-fcc4-4a82-817a-00111c990020\"\
        ,\n      \"type\": \"areas\",\n      \"attributes\": {\n        \"name\":\
        \ \"Aalst\"\n      },\n      \"relationships\": {\n        \"country\": {\n\
        \          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/areas/5df464d5-fcc4-4a82-817a-00111c990020/relationships/country\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/areas/5df464d5-fcc4-4a82-817a-00111c990020/country\"\
        \n          }\n        }\n      }\n    },\n    {\n      \"id\": \"b218046e-fb17-47f9-9d50-593b03456996\"\
        ,\n      \"type\": \"areas\",\n      \"attributes\": {\n        \"name\":\
        \ \"Abruzzo\"\n      },\n      \"relationships\": {\n        \"country\":\
        \ {\n          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/areas/b218046e-fb17-47f9-9d50-593b03[...]
