interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/shared_capacity_groups
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"3688a9c3-354f-4e16-b458-1d2df9f02547\"\
        ,\n    \"type\": \"shared_capacity_groups\",\n    \"attributes\": {\n    \
        \  \"name\": \"ts-sdk\",\n      \"shared_channels_count\": 5,\n      \"created_at\"\
        : \"2019-01-02T09:41:26.083Z\",\n      \"metered_channels_count\": 0\n   \
        \ },\n    \"relationships\": {\n      \"capacity_pool\": {\n        \"links\"\
        : {\n          \"self\": \"https://sandbox-api.didww.com/v3/shared_capacity_groups/3688a9c3-354f-4e16-b458-1d2df9f02547/relationships/capacity_pool\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/shared_capacity_groups/3688a9c3-354f-4e16-b458-1d2df9f02547/capacity_pool\"\
        \n        }\n      },\n      \"dids\": {\n        \"links\": {\n         \
        \ \"self\": \"https://sandbox-api.didww.com/v3/shared_capacity_groups/3688a9c3-354f-4e16-b458-1d2df9f02547/relationships/dids\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/shared_capacity_groups/3688a9c3-354f-4e16-b458-1d2df9f02547/dids\"\
        \n        }\n      }\n    }\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
