interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/shared_capacity_groups
  response:
    body:
      string: '{"data":{"id":"3688a9c3-354f-4e16-b458-1d2df9f02547","type":"shared_capacity_groups","attributes":{"name":"ts-sdk","shared_channels_count":5,"created_at":"2019-01-02T09:41:26.083Z","metered_channels_count":0},"relationships":{"capacity_pool":{"links":{"self":"https://sandbox-api.didww.com/v3/shared_capacity_groups/3688a9c3-354f-4e16-b458-1d2df9f02547/relationships/capacity_pool","related":"https://sandbox-api.didww.com/v3/shared_capacity_groups/3688a9c3-354f-4e16-b458-1d2df9f02547/capacity_pool"}},"dids":{"links":{"self":"https://sandbox-api.didww.com/v3/shared_capacity_groups/3688a9c3-354f-4e16-b458-1d2df9f02547/relationships/dids","related":"https://sandbox-api.didww.com/v3/shared_capacity_groups/3688a9c3-354f-4e16-b458-1d2df9f02547/dids"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
