interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/shared_capacity_groups
  response:
    body:
      string: '{"data": [{"id": "89f987e2-0862-4bf4-a3f4-cdc89af0d875", "type": "shared_capacity_groups",
        "attributes": {"name": "didww", "shared_channels_count": 19, "created_at":
        "2018-06-19T11:41:21.644Z", "metered_channels_count": 0, "external_reference_id":
        "scg-ref-001"}, "relationships": {"capacity_pool": {"links": {"self": "https://sandbox-api.didww.com/v3/shared_capacity_groups/89f987e2-0862-4bf4-a3f4-cdc89af0d875/relationships/capacity_pool",
        "related": "https://sandbox-api.didww.com/v3/shared_capacity_groups/89f987e2-0862-4bf4-a3f4-cdc89af0d875/capacity_pool"}},
        "dids": {"links": {"self": "https://sandbox-api.didww.com/v3/shared_capacity_groups/89f987e2-0862-4bf4-a3f4-cdc89af0d875/relationships/dids",
        "related": "https://sandbox-api.didww.com/v3/shared_capacity_groups/89f987e2-0862-4bf4-a3f4-cdc89af0d875/dids"}}}},
        {"id": "206881de-7a92-4415-aa32-b05458c79623", "type": "shared_capacity_groups",
        "attributes": {"name": "Pay Per Minute", "shared_channels_count": 0, "created_at":
        "2018-06-19T11:41:21.644Z", "metered_channels_count":[...]
