interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/shared_capacity_groups/89f987e2-0862-4bf4-a3f4-cdc89af0d875
  response:
    body:
      string: '{"data": {"id": "89f987e2-0862-4bf4-a3f4-cdc89af0d875", "type": "shared_capacity_groups",
        "attributes": {"name": "didww", "shared_channels_count": 19, "created_at":
        "2018-06-19T11:41:21.644Z", "metered_channels_count": 0, "external_reference_id":
        "scg-ref-001"}, "relationships": {"capacity_pool": {"links": {"self": "https://sandbox-api.didww.com/v3/shared_capacity_groups/89f987e2-0862-4bf4-a3f4-cdc89af0d875/relationships/capacity_pool",
        "related": "https://sandbox-api.didww.com/v3/shared_capacity_groups/89f987e2-0862-4bf4-a3f4-cdc89af0d875/capacity_pool"},
        "data": {"type": "capacity_pools", "id": "f288d07c-e2fc-4ae6-9837-b18fb469c324"}},
        "dids": {"links": {"self": "https://sandbox-api.didww.com/v3/shared_capacity_groups/89f987e2-0862-4bf4-a3f4-cdc89af0d875/relationships/dids",
        "related": "https://sandbox-api.didww.com/v3/shared_capacity_groups/89f987e2-0862-4bf4-a3f4-cdc89af0d875/dids"},
        "data": [{"type": "dids", "id": "0e63926a-a9cc-4597-b58b-620c3b05cd7f"}, {"type":
        "dids", "id": "ac6b3d66-3b45-423b-b378-52e236f18399"}, {"type": "dids", "id":
        "619a9f6a-78f8-4f87-9d18-ecbff657f014"}, {"type": "dids", "i[...]
