interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922?include=region
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"1e622e21-c740-4d3f-a615-2a7ef4991922\"\
        ,\n    \"type\": \"nanpa_prefixes\",\n    \"attributes\": {\n      \"npa\"\
        : \"201\",\n      \"nxx\": \"221\"\n    },\n    \"relationships\": {\n   \
        \   \"country\": {\n        \"links\": {\n          \"self\": \"https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922/relationships/country\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922/country\"\
        \n        },\n        \"data\": {\n          \"type\": \"countries\",\n  \
        \        \"id\": \"e5b6999c-aba0-4ae4-b9f9-3dcf744a0ed1\"\n        }\n   \
        \   },\n      \"region\": {\n        \"links\": {\n          \"self\": \"\
        https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922/relationships/region\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922/region\"\
        \n        },\n        \"data\": {\n          \"type\": \"regions\",\n     \
        \     \"id\": \"346e64c8-18c2-4a12-b1e2-20e090043fca\"\n        }\n      }\n\
        \    }\n  },\n  \"included\": [\n    {\n      \"id\": \"346e64c8-18c2-4a12-b1e2-20e090043fca\"\
        ,\n      \"type\": \"regions\",\n      \"attributes\": {\n        \"name\"\
        : \"New Jersey\",\n        \"iso\": \"US-NJ\"\n      },\n      \"relationships\"\
        : {\n        \"country\": {\n          \"links\": {\n            \"self\"\
        : \"https://sandbox-api.didww.com/v3/regions/346e64c8-18c2-4a12-b1e2-20e090043fca/relationships/country\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/regions/346e64c8-18c2-4a12-b1e2-20e090043fca/country\"\
        \n          }\n        }\n      }\n    }\n  ],\n  \"meta\": {\n    \"api_version\"\
        : \"2022-05-09\"\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
