interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922?include=region
  response:
    body:
      string: '{"data":{"id":"1e622e21-c740-4d3f-a615-2a7ef4991922","type":"nanpa_prefixes","attributes":{"npa":"201","nxx":"221"},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922/relationships/country","related":"https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922/country"},"data":{"type":"countries","id":"e5b6999c-aba0-4ae4-b9f9-3dcf744a0ed1"}},"region":{"links":{"self":"https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922/relationships/region","related":"https://sandbox-api.didww.com/v3/nanpa_prefixes/1e622e21-c740-4d3f-a615-2a7ef4991922/region"},"data":{"type":"regions","id":"346e64c8-18c2-4a12-b1e2-20e090043fca"}}}},"included":[{"id":"346e64c8-18c2-4a12-b1e2-20e090043fca","type":"regions","attributes":{"name":"New Jersey","iso":"US-NJ"},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/regions/346e64c8-18c2-4a12-b1e2-20e090043fca/relationships/country","related":"https://sandbox-api.didww.com/v3/regions/346e64c8-18c2-4a12-b1e2-20e090043fca/country"}}}}],"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
