interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/emergency_verifications
  response:
    body:
      string: '{"data":[{"id":"ev-001","type":"emergency_verifications","attributes":{"reference":"EVR-123456","status":"pending","reject_reasons":null,"reject_comment":null,"callback_url":null,"callback_method":null,"external_reference_id":null,"created_at":"2026-04-01T10:00:00.000Z"},"relationships":{"address":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_verifications/ev-001/relationships/address","related":"https://sandbox-api.didww.com/v3/emergency_verifications/ev-001/address"}},"emergency_calling_service":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_verifications/ev-001/relationships/emergency_calling_service","related":"https://sandbox-api.didww.com/v3/emergency_verifications/ev-001/emergency_calling_service"}},"dids":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_verifications/ev-001/relationships/dids","related":"https://sandbox-api.didww.com/v3/emergency_verifications/ev-001/dids"}}}}],"meta":{"total_records":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
