interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/emergency_verifications/ev-001
  response:
    body:
      string: '{"data":{"id":"ev-001","type":"emergency_verifications","attributes":{"reference":"EVR-123456","status":"rejected","reject_reasons":["Address does not match identity","Missing proof of occupancy"],"reject_comment":"Please re-submit with updated documentation.","callback_url":"https://example.com/emergency/hook","callback_method":"post","external_reference_id":"ref-xyz-999","created_at":"2026-04-01T10:00:00.000Z"},"relationships":{"address":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_verifications/ev-001/relationships/address","related":"https://sandbox-api.didww.com/v3/emergency_verifications/ev-001/address"}},"emergency_calling_service":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_verifications/ev-001/relationships/emergency_calling_service","related":"https://sandbox-api.didww.com/v3/emergency_verifications/ev-001/emergency_calling_service"}},"dids":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_verifications/ev-001/relationships/dids","related":"https://sandbox-api.didww.com/v3/emergency_verifications/ev-001/dids"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
