interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001
  response:
    body:
      string: '{"data":{"id":"ecs-001","type":"emergency_calling_services","attributes":{"name":"Emergency US","reference":"ECS-123456","status":"active","activated_at":"2026-04-01T10:00:00.000Z","canceled_at":null,"created_at":"2026-03-15T08:00:00.000Z","renew_date":"2026-05-01T00:00:00.000Z"},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/relationships/country","related":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/country"}},"did_group_type":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/relationships/did_group_type","related":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/did_group_type"}},"order":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/relationships/order","related":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/order"}},"address":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/relationships/address","related":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/address"}},"emergency_requirement":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/relationships/emergency_requirement","related":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/emergency_requirement"}},"dids":{"links":{"self":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/relationships/dids","related":"https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001/dids"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
