interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
    method: GET
    uri: https://sandbox-api.didww.com/v3/emergency_calling_services/ecs-001?include=emergencyRequirement%2CemergencyVerification
  response:
    body:
      string: '{"data":{"id":"ecs-001","type":"emergency_calling_services","attributes":{"name":"Emergency US","reference":"ECS-123456","status":"active","activated_at":"2026-04-01T10:00:00.000Z","canceled_at":null,"created_at":"2026-03-15T08:00:00.000Z","renew_date":"2026-05-01T00:00:00.000Z"},"relationships":{"emergency_requirement":{"data":{"id":"er-001","type":"emergency_requirements"}},"emergency_verification":{"data":{"id":"ev-001","type":"emergency_verifications"}}}},"included":[{"id":"er-001","type":"emergency_requirements","attributes":{"identity_type":"personal","address_area_level":"city","personal_area_level":"city","business_area_level":"country","address_mandatory_fields":["city_name","postal_code"],"personal_mandatory_fields":["first_name","last_name"],"business_mandatory_fields":["company_name"],"estimate_setup_time":3,"requirement_restriction_message":null}},{"id":"ev-001","type":"emergency_verifications","attributes":{"reference":"EVR-123456","status":"approved","reject_reasons":null,"reject_comment":null,"callback_url":null,"callback_method":null,"external_reference_id":null,"created_at":"2026-03-20T09:00:00.000Z"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
