interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/cities
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"bba735f9-7c37-499b-8998-94a5fca5d158\"\
        ,\n      \"type\": \"cities\",\n      \"attributes\": {\n        \"name\"\
        : \"Aachen\"\n      },\n      \"relationships\": {\n        \"country\": {\n\
        \          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/relationships/country\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/country\"\
        \n          }\n        },\n        \"region\": {\n          \"links\": {\n\
        \            \"self\": \"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/relationships/region\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/region\"\
        \n          }\n        },\n        \"area\": {\n          \"links\": {\n \
        \           \"self\": \"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/relationships/area\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/area\"\
        \n          }\n        }\n      }\n    },\n    {\n      \"id\": \"94f4e428-ae52-4b35-9507-9449d32c30a9\"\
        ,\n      \"type\": \"cities\",\n      \"attributes\": {\n        \"name\"\
        : \"Aalst\[...]
