interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/cities
  response:
    body:
      string: '{"data":[{"id":"bba735f9-7c37-499b-8998-94a5fca5d158","type":"cities","attributes":{"name":"Aachen"},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/relationships/country","related":"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/country"}},"region":{"links":{"self":"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/relationships/region","related":"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/region"}},"area":{"links":{"self":"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/relationships/area","related":"https://sandbox-api.didww.com/v3/cities/bba735f9-7c37-499b-8998-94a5fca5d158/area"}}}},{"id":"94f4e428-ae52-4b35-9507-9449d32c30a9","type":"cities","attributes":{"name":"Aalst"},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/cities/94f4e428-ae52-4b35-9507-9449d32c30a9/relationships/country","related":"https://sandbox-api.didww.com/v3/cities/[...]
