interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/encrypted_files
  response:
    body:
      string: '{"data":[{"id":"7f2fbdca-8008-44ce-bcb6-3537ea5efaac","type":"encrypted_files","attributes":{"description":"file.enc","expires_at":"2021-04-02T13:42:51.612Z"}}],"meta":{"total_records":1,"api_version":"2021-04-19"},"links":{"first":"https://sandbox-api.didww.com/v3/encrypted_files?page%5Bnumber%5D=1&page%5Bsize%5D=5","last":"https://sandbox-api.didww.com/v3/encrypted_files?page%5Bnumber%5D=1&page%5Bsize%5D=5"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
