interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/did_history
  response:
    body:
      string: '{"data":[{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","type":"did_history","attributes":{"did_number":"12025551234","action":"assigned","method":"api3","created_at":"2026-04-01T10:00:00.000Z"}}],"meta":{"total_records":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
