interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/proof_types
  response:
    body:
      string: '{"data":[{"id":"ab1fb565-ac55-4c73-bc55-64dc61e70169","type":"proof_types","attributes":{"name":"Utility Bill","entity_type":"Address"}},{"id":"634aea96-43d9-49a2-bd4e-6e8e2ce4e5e9","type":"proof_types","attributes":{"name":"Rental Receipt","entity_type":"Address"}},{"id":"49f42cbd-d051-43e0-9d30-883e154bad0d","type":"proof_types","attributes":{"name":"Other","entity_type":"Address"}},{"id":"19cd7b22-559b-41d4-99c9-7ad7ad63d5d1","type":"proof_types","attributes":{"name":"Drivers License","entity_type":"Personal"}},{"id":"d2c1b3fb-29f7-46ca-ba82-b617f4630b78","type":"proof_types","attributes":{"name":"Copy of Phone Bill","entity_type":"Address"}}],"meta":{"total_records":17,"api_version":"2026-04-16"},"links":{"first":"https://sandbox-api.didww.com/v3/proof_types?page%5Bnumber%5D=1&page%5Bsize%5D=5","next":"https://sandbox-api.didww.com/v3/proof_types?page%5Bnumber%5D=2&page%5Bsize%5D=5","last":"https://sandbox-api.didww.com/v3/proof_types?page%5Bnumber%5D=4&page%5Bsize%5D=5"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
