interactions:
- request:
    body: '{"data":{"type":"orders","attributes":{"allow_back_ordering":true,"items":[{"type":"did_order_items","attributes":{"sku_id":"fe77889c-f05a-40ad-a845-96aca3c28054","nanpa_prefix_id":"eeed293b-f3d8-4ef8-91ef-1b077d174b3b","qty":1}}]}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/orders
  response:
    body:
      string: '{"data":{"id":"c617f0ff-f819-477f-a17b-a8d248c4443e","type":"orders","attributes":{"amount":"4.0","status":"pending","created_at":"2022-06-22T22:02:23.333Z","description":"DID","reference":"WHT-994648","items":[{"type":"did_order_items","attributes":{"qty":1,"nrc":"2.0","mrc":"2.0","prorated_mrc":false,"billed_from":null,"billed_to":null,"setup_price":"2.0","monthly_price":"2.0","did_group_id":"8d909d98-9385-4635-b123-809d64b2d4bb"}}],"callback_method":null,"callback_url":null}},"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
