interactions:
- request:
    body: '{"data":{"type":"orders","attributes":{"items":[{"type":"capacity_order_items","attributes":{"capacity_pool_id":"b7522a31-4bf3-4c23-81e8-e7a14b23663f","qty":1}}]}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/orders
  response:
    body:
      string: '{"data":{"id":"68a46dd5-d405-4283-b7a5-62503267e9f8","type":"orders","attributes":{"amount":"44.35","status":"completed","created_at":"2018-12-28T14:08:38.304Z","description":"Capacity","reference":"RUG-725648","items":[{"type":"capacity_order_items","attributes":{"qty":1,"nrc":"25.0","mrc":"19.35","prorated_mrc":true,"billed_from":"2018-12-28","billed_to":"2019-01-20","capacity_pool_id":"b7522a31-4bf3-4c23-81e8-e7a14b23663f"}}],"callback_url":null,"callback_method":null}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
