interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/orders
  response:
    body:
      string: '{"data":{"type":"orders","attributes":{"items":[{"type":"did_order_items","attributes":{"sku_id":"32840f64-5c3f-4278-8c8d-887fbe2f03f4","did_reservation_id":"e3ed9f97-1058-430c-9134-38f1c614ee9f"}}]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
