interactions:
- request:
    body: '{"data":{"type":"orders","attributes":{"items":[{"type":"did_order_items","attributes":{"sku_id":"32840f64-5c3f-4278-8c8d-887fbe2f03f4","did_reservation_id":"e3ed9f97-1058-430c-9134-38f1c614ee9f"}}]}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/orders
  response:
    body:
      string: '{"data":{"id":"a9a7ff2d-d634-4545-bf28-dfda92d1c723","type":"orders","attributes":{"amount":"0.19","status":"pending","created_at":"2018-12-28T10:40:48.355Z","description":"DID","reference":"UAM-764395","items":[{"type":"did_order_items","attributes":{"qty":1,"nrc":"0.0","mrc":"0.19","prorated_mrc":false,"billed_from":null,"billed_to":null,"setup_price":"0.0","monthly_price":"0.19","did_group_id":"7edb4f99-09ab-4bde-bef5-83685b9e76eb"}}],"callback_url":null,"callback_method":null}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
