interactions:
- request:
    body: '{"data":{"type":"orders","attributes":{"allow_back_ordering":true,"items":[{"type":"did_order_items","attributes":{"sku_id":"f36d2812-2195-4385-85e8-e59c3484a8bc","qty":1,"billing_cycles_count":5}}]}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/orders
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"9b9f2121-8d9e-4aa8-9754-dbaf6f695fd6\"\
        ,\n    \"type\": \"orders\",\n    \"attributes\": {\n      \"amount\": \"\
        0.19\",\n      \"status\": \"Pending\",\n      \"created_at\": \"2018-12-27T16:44:05.511Z\"\
        ,\n      \"description\": \"DID\",\n      \"reference\": \"YGA-665789\",\n\
        \      \"items\": [\n        {\n          \"type\": \"did_order_items\",\n\
        \          \"attributes\": {\n            \"qty\": 1,\n            \"nrc\"\
        : \"0.0\",\n            \"mrc\": \"0.19\",\n            \"prorated_mrc\":\
        \ false,\n            \"billed_from\": null,\n            \"billed_to\": null,\n\
        \            \"setup_price\": \"0.0\",\n            \"monthly_price\": \"\
        0.19\",\n            \"did_group_id\": \"7156eea4-09af-4f82-a43e-3b572f9927d8\"\
        \n          }\n        }\n      ]\n    }\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
