interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/orders
  response:
    body:
      string: '{"data":{"type":"orders","attributes":{"items":[{"type":"did_order_items","attributes":{"sku_id":"fe77889c-f05a-40ad-a845-96aca3c28054","qty":1,"nanpa_prefix_id":"eeed293b-f3d8-4ef8-91ef-1b077d174b3b"}}],"allow_back_ordering":true}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
