interactions:
- request:
    body: '{"data":{"type":"orders","attributes":{"items":[{"type":"did_order_items","attributes":{"sku_id":"acc46374-0b34-4912-9f67-8340339db1e5","available_did_id":"c43441e3-82d4-4d84-93e2-80998576c1ce"}}]}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/orders
  response:
    body:
      string: '{"data":{"id":"9b9f2121-8d9e-4aa8-9754-dbaf6f695fd6","type":"orders","attributes":{"amount":"0.19","status":"pending","created_at":"2018-12-27T16:44:05.511Z","description":"DID","reference":"YGA-665789","items":[{"type":"did_order_items","attributes":{"qty":1,"nrc":"0.0","mrc":"0.19","prorated_mrc":false,"billed_from":null,"billed_to":null,"setup_price":"0.0","monthly_price":"0.19","did_group_id":"7156eea4-09af-4f82-a43e-3b572f9927d8"}}],"callback_url":null,"callback_method":null}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
