interactions:
- request:
    body: '{"data":{"type":"orders","attributes":{"items":[{"type":"did_order_items","attributes":{"sku_id":"32840f64-5c3f-4278-8c8d-887fbe2f03f4","did_reservation_id":"e3ed9f97-1058-430c-9134-38f1c614ee9f"}}]}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/orders
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"a9a7ff2d-d634-4545-bf28-dfda92d1c723\"\
        ,\n    \"type\": \"orders\",\n    \"attributes\": {\n      \"amount\": \"\
        0.19\",\n      \"status\": \"Pending\",\n      \"created_at\": \"2018-12-28T10:40:48.355Z\"\
        ,\n      \"description\": \"DID\",\n      \"reference\": \"UAM-764395\",\n\
        \      \"items\": [\n        {\n          \"type\": \"did_order_items\",\n\
        \          \"attributes\": {\n            \"qty\": 1,\n            \"nrc\"\
        : \"0.0\",\n            \"mrc\": \"0.19\",\n            \"prorated_mrc\":\
        \ false,\n            \"billed_from\": null,\n            \"billed_to\": null,\n\
        \            \"setup_price\": \"0.0\",\n            \"monthly_price\": \"\
        0.19\",\n            \"did_group_id\": \"7edb4f99-09ab-4bde-bef5-83685b9e76eb\"\
        \n          }\n        }\n      ],\n      \"callback_url\": null,\n      \"\
        callback_method\": null\n    }\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
