interactions:
- request:
    body: '{"data":{"type":"orders","attributes":{"allow_back_ordering":true,"items":[{"type":"did_order_items","attributes":{"sku_id":"f36d2812-2195-4385-85e8-e59c3484a8bc","qty":1,"billing_cycles_count":5}}]}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/orders
  response:
    body:
      string: '{"data":{"id":"9b9f2121-8d9e-4aa8-9754-dbaf6f695fd6","type":"orders","attributes":{"amount":"0.19","status":"pending","created_at":"2018-12-27T16:44:05.511Z","description":"DID","reference":"YGA-665789","items":[{"type":"did_order_items","attributes":{"qty":1,"nrc":"0.0","mrc":"0.19","prorated_mrc":false,"billed_from":null,"billed_to":null,"setup_price":"0.0","monthly_price":"0.19","did_group_id":"7156eea4-09af-4f82-a43e-3b572f9927d8"}}]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
