interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/orders/9df11dac-9d83-448c-8866-19c998be33db
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"9df11dac-9d83-448c-8866-19c998be33db\"\
        ,\n    \"type\": \"orders\",\n    \"attributes\": {\n      \"amount\": \"\
        25.07\",\n      \"status\": \"Completed\",\n      \"created_at\": \"2018-08-17T09:48:48.440Z\"\
        ,\n      \"description\": \"Payment processing fee\",\n      \"reference\"\
        : \"SPT-474057\",\n      \"items\": [\n        {\n          \"type\": \"generic_order_items\"\
        ,\n          \"attributes\": {\n            \"qty\": 1,\n            \"nrc\"\
        : \"25.07\",\n            \"mrc\": \"0.0\",\n            \"prorated_mrc\"\
        : false,\n            \"billed_from\": \"2018-08-17\",\n            \"billed_to\"\
        : \"2018-09-16\"\n          }\n        }\n      ]\n    }\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
