interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/voice_in_trunk_groups
  response:
    body:
      string: '{"data":{"id":"b2319703-ce6c-480d-bb53-614e7abcfc96","type":"voice_in_trunk_groups","attributes":{"created_at":"2018-12-28T11:07:28.007Z","name":"trunk group sample with 2 trunks","capacity_limit":1000},"relationships":{"voice_in_trunks":{"links":{"self":"https://sandbox-api.didww.com/v3/voice_in_trunk_groups/b2319703-ce6c-480d-bb53-614e7abcfc96/relationships/voice_in_trunks","related":"https://sandbox-api.didww.com/v3/voice_in_trunk_groups/b2319703-ce6c-480d-bb53-614e7abcfc96/voice_in_trunks"},"data":[{"type":"voice_in_trunks","id":"7c15bca2-7f17-46fb-9486-7e2a17158c7e"},{"type":"voice_in_trunks","id":"b07a4cab-48c6-4b3a-9670-11b90b81bdef"}]}},"meta":{"trunks_count":2}},"included":[{"id":"7c15bca2-7f17-46fb-9486-7e2a17158c7e","type":"voice_in_trunks","attributes":{"priority":10,"capacity_limit":null,"weight":65535,"name":"test custom11","cli_format":"e164","cli_prefix":"+","description":"","ringing_timeout":null,"configuration":{"type":"sip_configurations","attributes":{"username":"{CALL_DID}","host":"203.0.113.1","port":null,"codec_ids":[9,8,6],"rx_dtmf_format_id":1,"tx_dtmf_format_id":1,"resolve_ruri":false,"auth_enabled":false,"auth_user":null,"auth_password":null,"auth_from_user":null,"auth_from_domain":null,"sst_enabled":false,"sst_min_timer":600,"sst_max_timer":900,"sst_accept_501":true,"sip_timer_b":8000,"dns_srv_failover_timer":2000,"rtp_ping":false,"rtp_timeout":30,"force_symmetric_rtp":false,"symmetric_rtp_ignore_rtcp":false,"rerouting_disconnect_code_ids":null,"sst_session_expires":null,"sst_refresh_method_id":1,"transport_protocol_id":1,"max_transfers":0,"max_30x_redirects":0,"media_encryption_mode":"disabled","stir_shaken_mode":"disabled","allowed_rtp_ips":null}},"created_at":"2015-05-03T13:38:21.000Z"},"relationships":{"voice_in_trunk_group":{"links":{"self":"https://sandbox-api.didww.com/v3/voice_in_trunks/7c15bca2-7f17-46fb-9486-7e2a17158c7e/relationships/voice_in_trunk_group","related":"https://sandbox-api.didww.com/v3/voice_in_trunks/7c15bca2-7f17-46fb-9486-7e2a17158c7e/voice_in_trunk_group"}},"pop":{"links":{"self":"https://sandbox-api.didww.com/v3/voice_in_trunks/7c15bca2-7f17-46fb-9486-7e2a17158c7e/relationships/pop","related":"https://sandbox-api.didww.com/v3/voice_in_trunks/7c15bca2-7f17-46fb-9486-7e2a17158c7e/pop"}}}},{"id":"b07a4cab-48c6-4b3a-9670-11b90b81bdef","type":"voice_in_trunks","attributes":{"priority":1,"capacity_limit":null,"weight":65535,"name":"URI 420225850033","cli_format":"e164","cli_prefix":null,"description":null,"ringing_timeout":null,"configuration":{"type":"sip_co[...]
