interactions:
- request:
    body: '{"data":{"type":"voice_in_trunk_groups","attributes":{"name":"trunk group
      sample with 2 trunks","capacity_limit":1000},"relationships":{"voice_in_trunks":{"data":[{"type":"voice_in_trunks","id":"7c15bca2-7f17-46fb-9486-7e2a17158c7e"},{"type":"voice_in_trunks","id":"b07a4cab-48c6-4b3a-9670-11b90b81bdef"}]}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/voice_in_trunk_groups
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"b2319703-ce6c-480d-bb53-614e7abcfc96\"\
        ,\n    \"type\": \"voice_in_trunk_groups\",\n    \"attributes\": {\n     \
        \ \"created_at\": \"2018-12-28T11:07:28.007Z\",\n      \"name\": \"trunk group\
        \ sample with 2 trunks\",\n      \"capacity_limit\": 1000\n    },\n    \"\
        relationships\": {\n      \"voice_in_trunks\": {\n        \"links\": {\n \
        \         \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunk_groups/b2319703-ce6c-480d-bb53-614e7abcfc96/relationships/voice_in_trunks\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunk_groups/b2319703-ce6c-480d-bb53-614e7abcfc96/voice_in_trunks\"\
        \n        },\n        \"data\": [\n          {\n            \"type\": \"voice_in_trunks\"\
        ,\n            \"id\": \"7c15bca2-7f17-46fb-9486-7e2a17158c7e\"\n        \
        \  },\n          {\n            \"type\": \"voice_in_trunks\",\n         \
        \   \"id\": \"b07a4cab-48c6-4b3a-9670-11b90b81bdef\"\n          }\n      \
        \  ]\n      }\n    },\n    \"meta\": {\n      \"trunks_count\": 2\n    }\n\
        \  },\n  \"included\": [\n    {\n      \"id\": \"7c15bca2-7f17-46fb-9486-7e2a17158c7e\"\
        ,\n      \"type\": \"voice_in_trunks\",\n      \"attributes\": {\n       \
        \ \"priority\": 10,\n        \"capacity_limit\": null,\n        \"weight\"\
        : 65535,\n        \"name\": \"test custom11\",\n        \"cli_format\": \"\
        e164\",\n        \"cli_prefix\": \"+\",\n        \"description\": \"\",\n\
        \        \"ringing_timeout\": null,\n        \"configuration\": {\n      \
        \    \"type\": \"h323_configurations\",\n          \"attributes\": {\n   \
        \         \"dst\": \"{CALL_DID}\",\n            \"host\": \"127.0.0.1\",\n\
        \            \"port\": null,\n            \"codec_ids\": [\n             \
        \ 9,\n              8,\n              6\n            ]\n          }\n    \
        \    },\n        \"created_at\": \"2015-05-03T13:38:21.000Z\"\n      },\n\
        \      \"relationships\": {\n        \"voice_in_trunk_group\": {\n       \
        \   \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/7c15bca2-7f17-46fb-9486-7e2a17158c7e/relationships/voice_in_trunk_group\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/7c15bca2-7f17-46fb-9486-7e2a17158c7e/voice_in_trunk_group\"\
        \n          }\n        },\n        \"pop\": {\n          \"links\": {\n  \
        \          \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/7c15bca2-7f17-46fb-9486-7e2a17158c7e/relationships/pop\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/7c15bca2-7f17-46fb-9486-7e2a17158c7e/pop\"\
        \n          }\n        }\n      }\n    },\n    {\n      \"id\": \"b07a4cab-48c6-4b3a-9670-11b90b81bdef\"\
        ,\n      \"type\": \"voice_in_trunks\",\n      \"attributes\": {\n       \
        \ \"priority\": 1,\n        \"capacity_limit\": null,\n        \"weight\"\
        : 65535,\n        \"name\": \"URI 420225850033\",\n        \"cli_format\"\
        : \"e164\",\n        \"cli_prefix\": null,\n        \"description\": null,\n\
        \        \"ringing_timeout\": null,\n        \"configuration\": {\n      \
        \    \"type\": \"sip_configurations\",\n          \"attributes\": {\n    \
        \        \"username\": \"{DID}\",\n            \"host\": \"didww.com\",\n\
        \            \"port\": null,\n            \"codec_ids\": [\n             \
        \ 9,\n              10,\n              8,\n              7,\n            \
        \  6\n            ],\n            \"rx_dtmf_format_id\": 1,\n            \"\
        tx_dtmf_format_id\": 1,\n            \"resolve_ruri\": false,\n          \
        \  \"auth_enabled\": false,\n            \"auth_user\": null,\n          \
        \  \"auth_password\": null,\n            \"auth_from_user\": null,\n     \
        \       \"auth_from_domain\": null,\n            \"sst_enabled\": false,\n\
        \            \"sst_min_timer\": 600,\n            \"sst_max_timer\": 900,\n\
        \            \"sst_accept_501\": true,\n            \"sip_timer_b\": 8000,\n\
        \            \"dns_srv_failover_timer\": 2000,\n            \"rtp_ping\":\
        \ false,\n            \"rtp_timeout\": 30,\n            \"force_symmetric_rtp\"\
        : false,\n            \"symmetric_rtp_ignore_rtcp\": false,\n            \"\
        rerouting_disconnect_code_ids\": null,\n            \"sst_session_expires\"\
        : null,\n            \"sst_refresh_method_id\": 1,\n            \"transport_protocol_id\"\
        : 1,\n            \"max_transfers\": 0,\n            \"max_30x_redirects\"\
        : 0\n          }\n        },\n        \"created_at\": \"2016-12-12T14:05:51.304Z\"\
        \n      },\n      \"relationships\": {\n        \"voice_in_trunk_group\":\
        \ {\n          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/b07a4cab-48c6-4b3a-9670-11b90b81bdef/relationships/voice_in_trunk_group\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/b07a4cab-48c6-4b3a-9670-11b90b81bdef/voice_in_trunk_group\"\
        \n          }\n        },\n        \"pop\": {\n          \"links\": {\n  \
        \          \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/b07a4cab-48c6-4b3a-9670-11b90b81bdef/relationships/pop\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/b07a4cab-48c6-4b3a-9670-11b90b81bdef/pop\"\
        \n          }\n        }\n      }\n    }\n  ]\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
