interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/voice_in_trunk_groups
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"837c5764-a6c3-456f-aa37-71fc8f8ca07b\"\
        ,\n      \"type\": \"voice_in_trunk_groups\",\n      \"attributes\": {\n \
        \       \"created_at\": \"2017-11-14T15:07:25.571Z\",\n        \"name\": \"\
        sample trunk group\",\n        \"capacity_limit\": null\n      },\n      \"\
        relationships\": {\n        \"voice_in_trunks\": {\n          \"links\": {\n\
        \            \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunk_groups/837c5764-a6c3-456f-aa37-71fc8f8ca07b/relationships/voice_in_trunks\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunk_groups/837c5764-a6c3-456f-aa37-71fc8f8ca07b/voice_in_trunks\"\
        \n          },\n          \"data\": [\n            {\n              \"type\"\
        : \"voice_in_trunks\",\n              \"id\": \"f691f93a-fa24-4260-b3eb-9f89a5442cf1\"\
        \n            },\n            {\n              \"type\": \"voice_in_trunks\"\
        ,\n              \"id\": \"1f5840fa-92a8-474b-a2de-cab0a0642ebb\"\n      \
        \      }\n          ]\n        }\n      },\n      \"meta\": {\n        \"\
        trunks_count\": 2\n      }\n    }\n  ],\n  \"included\": [\n    {\n      \"\
        id\": \"f691f93a-fa24-4260-b3eb-9f89a5442cf1\",\n      \"type\": \"voice_in_trunks\"\
        ,\n      \"attributes\": {\n        \"priority\": 1,\n        \"capacity_limit\"\
        : null,\n        \"weight\": 65535,\n        \"name\": \"URI 33141081249\"\
        ,\n        \"cli_format\": \"e164\",\n        \"cli_prefix\": null,\n    \
        \    \"description\": null,\n        \"ringing_timeout\": null,\n        \"\
        configuration\": {\n          \"type\": \"sip_configurations\",\n        \
        \  \"attributes\": {\n            \"username\": \"{DID}\",\n            \"\
        host\": \"didww.com\",\n            \"port\": null,\n            \"codec_ids\"\
        : [\n              9,\n              10,\n              8,\n             \
        \ 7,\n              6\n            ],\n            \"rx_dtmf_format_id\":\
        \ 1,\n            \"tx_dtmf_format_id\": 1,\n            \"resolve_ruri\"\
        : false,\n            \"auth_enabled\": false,\n            \"auth_user\"\
        : null,\n            \"auth_password\": null,\n            \"auth_from_user\"\
        : null,\n            \"auth_from_domain\": null,\n            \"sst_enabled\"\
        : false,\n            \"sst_min_timer\": 600,\n            \"sst_max_timer\"\
        : 900,\n            \"sst_accept_501\": true,\n            \"sip_timer_b\"\
        : 8000,\n            \"dns_srv_failover_timer\": 2000,\n            \"rtp_ping\"\
        : false,\n            \"rtp_timeout\": 30,\n            \"force_symmetric_rtp\"\
        : false,\n            \"symmetric_rtp_ignore_rtcp\": false,\n            \"\
        rerouting_disconnect_code_ids\": null,\n            \"sst_session_expires\"\
        : null,\n            \"sst_refresh_method_id\": 1,\n            \"transport_protocol_id\"\
        : 1,\n            \"max_transfers\": 0,\n            \"max_30x_redirects\"\
        : 0\n          }\n        },\n        \"created_at\": \"2016-12-12T14:56:19.560Z\"\
        \n      },\n      \"relationships\": {\n        \"voice_in_trunk_group\":\
        \ {\n          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/f691f93a-fa24-4260-b3eb-9f89a5442cf1/relationships/voice_in_trunk_group\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/f691f93a-fa24-4260-b3eb-9f89a5442cf1/voice_in_trunk_group\"\
        \n          }\n        },\n        \"pop\": {\n          \"links\": {\n  \
        \          \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/f691f93a-fa24-4260-b3eb-9f89a5442cf1/relationships/pop\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/f691f93a-fa24-4260-b3eb-9f89a5442cf1/pop\"\
        \n          }\n        }\n      }\n    },\n    {\n      \"id\": \"1f5840fa-92a8-474b-a2de-cab0a0642ebb\"\
        ,\n      \"type\": \"voice_in_trunks\",\n      \"attributes\": {\n       \
        \ \"priority\": 1,\n        \"capacity_limit\": null,\n        \"weight\"\
        : 65535,\n        \"name\": \"Trunk sip Example\",\n        \"cli_format\"\
        : \"e164\",\n        \"cli_prefix\": \"\",\n        \"description\": \"\"\
        ,\n        \"ringing_timeout\": null,\n        \"configuration\": {\n    \
        \      \"type\": \"sip_configurations\",\n          \"attributes\": {\n  \
        \          \"username\": \"{DID}\",\n            \"host\": \"didww.com\",\n\
        \            \"port\": null,\n            \"codec_ids\": [\n             \
        \ 9,\n              10,\n              8,\n              7,\n            \
        \  6\n            ],\n            \"rx_dtmf_format_id\": 1,\n            \"\
        tx_dtmf_format_id\": 1,\n            \"resolve_ruri\": false,\n          \
        \  \"auth_enabled\": false,\n            \"auth_user\": \"\",\n          \
        \  \"auth_password\": \"\",\n            \"auth_from_user\": \"\",\n     \
        \       \"auth_from_domain\": \"\",\n            \"sst_enabled\": false,\n\
        \            \"sst_min_timer\": 600,\n            \"sst_max_timer\": 900,\n\
        \            \"sst_accept_501\": true,\n            \"sip_timer_b\": 8000,\n\
        \            \"dns_srv_failover_timer\": 2000,\n            \"rtp_ping\":\
        \ false,\n            \"rtp_timeout\": 30,\n            \"force_symmetric_rtp\"\
        : false,\n            \"symmetric_rtp_ignore_rtcp\": false,\n            \"\
        rerouting_disconnect_code_ids\": [\n              56,\n              58,\n\
        \              59,\n              60,\n              64,\n              65,\n\
        \              66,\n              67,\n              68,\n              69,\n\
        \              70,\n              71,\n              72,\n              73,\n\
        \              74,\n              75,\n              76,\n              77,\n\
        \              78,\n              79,\n              80,\n              81,\n\
        \              82,\n              83,\n              84,\n              86,\n\
        \              87,\n              88,\n              89,\n              90,\n\
        \              91,\n              92,\n              96,\n              97,\n\
        \              98,\n              99,\n              100,\n              101,\n\
        \              102,\n              103,\n              104,\n            \
        \  105,\n              106,\n              107,\n              108,\n    \
        \          1505\n            ],\n            \"sst_session_expires\": null,\n\
        \            \"sst_refresh_method_id\": 1,\n            \"transport_protocol_id\"\
        : 1,\n            \"max_transfers\": 0,\n            \"max_30x_redirects\"\
        : 0\n          }\n        },\n        \"created_at\": \"2016-12-12T14:58:42.098Z\"\
        \n      },\n      \"relationships\": {\n        \"voice_in_trunk_group\":\
        \ {\n          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/1f5840fa-92a8-474b-a2de-cab0a0642ebb/relationships/voice_in_trunk_group\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/1f5840fa-92a8-474b-a2de-cab0a0642ebb/voice_in_trunk_group\"\
        \n          }\n        },\n        \"pop\": {\n          \"links\": {\n  \
        \          \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/1f5840fa-92a8-474b-a2de-cab0a0642ebb/relationships/pop\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunks/1f5840fa-92a8-474b-a2de-cab0a0642ebb/pop\"\
        \n          }\n        }\n      }\n    }\n  ],\n  \"meta\": {\n    \"total_records\"\
        : 1\n  },\n  \"links\": {\n    \"first\": \"https://sandbox-api.didww.com/v3/voice_in_trunk_groups?include=trunks&page%5Bnumber%5D=1&page%5Bsize%5D=5\"\
        ,\n    \"last\": \"https://sandbox-api.didww.com/v3/voice_in_trunk_groups?include=trunks&page%5Bnumber%5D=1&page%5Bsize%5D=5\"\
        \n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
