interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/voice_in_trunk_groups
  response:
    body:
      string: '{"data": [{"id": "837c5764-a6c3-456f-aa37-71fc8f8ca07b", "type": "voice_in_trunk_groups",
        "attributes": {"created_at": "2017-11-14T15:07:25.571Z", "name": "sample trunk
        group", "capacity_limit": null, "external_reference_id": "vitg-ref-001"},
        "relationships": {"voice_in_trunks": {"links": {"self": "https://sandbox-api.didww.com/v3/voice_in_trunk_groups/837c5764-a6c3-456f-aa37-71fc8f8ca07b/relationships/voice_in_trunks",
        "related": "https://sandbox-api.didww.com/v3/voice_in_trunk_groups/837c5764-a6c3-456f-aa37-71fc8f8ca07b/voice_in_trunks"},
        "data": [{"type": "voice_in_trunks", "id": "f691f93a-fa24-4260-b3eb-9f89a5442cf1"},
        {"type": "voice_in_trunks", "id": "1f5840fa-92a8-474b-a2de-cab0a0642ebb"}]}},
        "meta": {"trunks_count": 2}}], "included": [{"id": "f691f93a-fa24-4260-b3eb-9f89a5442cf1",
        "type": "voice_in_trunks", "attributes": {"priority": 1, "capacity_limit":
        null, "weight": 65535, "name": "URI 33141081249", "cli_format": "e164", "cli_prefix":
        null, "description": null, "ringing_timeout": null, "configuration": {"type":
        "sip_configurations", "attributes": {"username": "{DID}", "host": "didww.com",
        "port": null, "codec_ids": [9, 10, 8, 7, 6], "rx_dtmf_format_id": 1, "tx_dtmf_format_id":
        1, "resolve_ruri": false, "auth_enabled": false, "auth_user": null, "auth_password":
        null, "auth_from_user": null, "auth_from_domain": null, "sst_enabled": false,
        "sst_min_timer": 600, "sst_max_timer": 900, "sst_accept_501": true, "sip_timer_b":
        8000, "dns_srv_failover_timer": 2000, "rtp_ping": false, "rtp_timeout": 30,
        "force_symmetric_rtp": false, "symmetric_rtp_ignore_rtcp": false, "rerouting_disconnect_code_ids":
        null, "sst_session_expires": null, "sst_refresh_method_id": 1, "transport_protocol_id":
        1, "max_transfers": 0, "max_30x_redirects": 0}}, "created_at": "2016-12-12T14:56:19.560Z"},
        "relationships": {"voice_in_trunk_group": {"links": {"self": "https://sandbox-api.didww.com/v3/voice_in_trunks/f691f93a-fa24-4260-b3eb-9f89a5442cf1/relationships/voice_in_trunk_group",
        "related": "https://sandbox-api.didww.com/v3/voice_in_trunks/f691f93a-fa24-4260-b3eb-9f89a5442cf1/voice_in_trunk_group"}},
        "pop": {"links": {"self": "https://sandbox-api.didww.com/v3/voice_in_trunks/f691f93a-fa24-4260-b3eb-9f89a5442cf1/relationships/pop",
        "related": "https://sandbox-api.didww.com/v3/voice_in_trunks/f691f93a-fa24-4260-b3eb-9f89a5442cf1/pop"}}}},
        {"id": "1f5840fa-92a8-474b-a2de-cab0a0642ebb", "type": "voice_in_trunks",
        "attributes": {"priority": 1, "capacity_limit": null, "weight": 65535, "name":
        "Trunk sip Example", "cli_format": "e164", "cli_prefix": "", "description":
    [...]
