interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/voice_in_trunk_groups/b2319703-ce6c-480d-bb53-614e7abcfc96
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"b2319703-ce6c-480d-bb53-614e7abcfc96\"\
        ,\n    \"type\": \"voice_in_trunk_groups\",\n    \"attributes\": {\n     \
        \ \"created_at\": \"2018-12-28T11:07:28.007Z\",\n      \"name\": \"trunk group\
        \ sample updated with 2 trunks\",\n      \"capacity_limit\": 500\n    },\n\
        \    \"relationships\": {\n      \"voice_in_trunks\": {\n        \"links\"\
        : {\n          \"self\": \"https://sandbox-api.didww.com/v3/voice_in_trunk_groups/b2319703-ce6c-480d-bb53-614e7abcfc96/relationships/voice_in_trunks\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/voice_in_trunk_groups/b2319703-ce6c-480d-bb53-614e7abcfc96/voice_in_trunks\"\
        \n        }\n      }\n    },\n    \"meta\": {\n      \"trunks_count\": 2\n\
        \    }\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
