interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/voice_in_trunk_groups/b2319703-ce6c-480d-bb53-614e7abcfc96
  response:
    body:
      string: '{"data":{"id":"b2319703-ce6c-480d-bb53-614e7abcfc96","type":"voice_in_trunk_groups","attributes":{"created_at":"2018-12-28T11:07:28.007Z","name":"trunk group sample updated with 2 trunks","capacity_limit":500},"relationships":{"voice_in_trunks":{"links":{"self":"https://sandbox-api.didww.com/v3/voice_in_trunk_groups/b2319703-ce6c-480d-bb53-614e7abcfc96/relationships/voice_in_trunks","related":"https://sandbox-api.didww.com/v3/voice_in_trunk_groups/b2319703-ce6c-480d-bb53-614e7abcfc96/voice_in_trunks"}}},"meta":{"trunks_count":2}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
