interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/address_verifications
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"aaf2180a-3f2b-4427-888f-3d00f872014e\"\
        ,\n      \"type\": \"address_verifications\",\n      \"attributes\": {\n \
        \       \"service_description\": null,\n        \"callback_url\": \"http://example.com\"\
        ,\n        \"callback_method\": \"GET\",\n        \"status\": \"Pending\"\
        ,\n        \"reject_reasons\": null,\n        \"created_at\": \"2021-04-01T14:29:11.790Z\"\
        \n      },\n      \"relationships\": {\n        \"dids\": {\n          \"\
        links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/address_verifications/aaf2180a-3f2b-4427-888f-3d00f872014e/relationships/dids\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/address_verifications/aaf2180a-3f2b-4427-888f-3d00f872014e/dids\"\
        \n          },\n          \"data\": [\n            {\n              \"type\"\
        : \"dids\",\n              \"id\": \"a9d64c02-4486-4acb-a9a1-be4c81ff0659\"\
        \n            }\n          ]\n        },\n        \"address\": {\n       \
        \   \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/address_verifications/aaf2180a-3f2b-4427-888f-3d00f872014e/relationships/address\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/address_verifications/aaf2180a-3f2b-4427-888f-3d00f872014e/address\"\
        \n          },\n          \"data\": {\n            \"type\": \"addresses\"\
        ,\n            \"id\": \"d3414687-40f4-4346-a267-c2c65117d28c\"\n        \
        \  }\n        }\n      }\n    }\n  ],\n  \"included\": [\n    {\n      \"\
        id\": \"a9d64c02-4486-4acb-a9a1-be4c81ff0659\",\n      \"type\": \"dids\"\
        ,\n      \"attributes\": {\n        \"blocked\": true,\n        \"capacity_limit\"\
        : null,\n        \"description\": null,\n        \"terminated\": false,\n\
        \        \"awaiting_registration\": true,\n        \"created_at\": \"2021-04-01T14:27:01.000Z\"\
        ,\n        \"billing_cycles_count\": null,\n        \"number\": \"13472013835\"\
        ,\n        \"expires_at\": \"2021-05-01T14:27:01.757Z\",\n        \"channels_included_count\"\
        : 0,\n        \"dedicated_channels_count\": 0\n      },\n      \"relationships\"\
        : {\n        \"did_group\": {\n          \"links\": {\n            \"self\"\
        : \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/did_group\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/did_group\"\
        \n          }\n        },\n        \"order\": {\n          \"links\": {\n\
        \            \"self\": \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/order\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/order\"\
        \n          }\n        },\n        \"trunk\": {\n          \"links\": {\n\
        \            \"self\": \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/trunk\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/trunk\"\
        \n          }\n        },\n        \"trunk_group\": {\n          \"links\"\
        : {\n            \"self\": \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/trunk_group\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/trunk_group\"\
        \n          }\n        },\n        \"capacity_pool\": {\n          \"links\"\
        : {\n            \"self\": \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/capacity_pool\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/capacity_pool\"\
        \n          }\n        },\n        \"shared_capacity_group\": {\n        \
        \  \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/shared_capacity_group\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/shared_capacity_group\"\
        \n          }\n        },\n        \"address_verification\": {\n         \
        \ \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/address_verification\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/address_verification\"\
        \n          }\n        }\n      }\n    },\n    {\n      \"id\": \"d3414687-40f4-4346-a267-c2c65117d28c\"\
        ,\n      \"type\": \"addresses\",\n      \"attributes\": {\n        \"city_name\"\
        : \"Chicago\",\n        \"postal_code\": \"1234\",\n        \"address\": \"\
        Main street\",\n        \"description\": \"some address\",\n        \"created_at\"\
        : \"2021-04-01T13:12:56.632Z\"\n      },\n      \"relationships\": {\n   \
        \     \"identity\": {\n          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/addresses/d3414687-40f4-4346-a267-c2c65117d28c/relationships/identity\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/addresses/d3414687-40f4-4346-a267-c2c65117d28c/identity\"\
        \n          }\n        },\n        \"country\": {\n          \"links\": {\n\
        \            \"self\": \"https://sandbox-api.didww.com/v3/addresses/d3414687-40f4-4346-a267-c2c65117d28c/relationships/country\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/addresses/d3414687-40f4-4346-a267-c2c65117d28c/country\"\
        \n          }\n        },\n        \"proofs\": {\n          \"links\": {\n\
        \            \"self\": \"https://sandbox-api.didww.com/v3/addresses/d3414687-40f4-4346-a267-c2c65117d28c/relationships/proofs\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/addresses/d3414687-40f4-4346-a267-c2c65117d28c/proofs\"\
        \n          }\n        }\n      }\n    }\n  ],\n  \"meta\": {\n    \"total_records\"\
        : 1,\n    \"api_version\": \"2021-04-19\"\n  },\n  \"links\": {\n    \"first\"\
        : \"https://sandbox-api.didww.com/v3/address_verifications?include=address%2Cdids&page%5Bnumber%5D=1&page%5Bsize%5D=5\"\
        ,\n    \"last\": \"https://sandbox-api.didww.com/v3/address_verifications?include=address%2Cdids&page%5Bnumber%5D=1&page%5Bsize%5D=5\"\
        \n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
