interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/address_verifications
  response:
    body:
      string: '{"data":[{"id":"aaf2180a-3f2b-4427-888f-3d00f872014e","type":"address_verifications","attributes":{"service_description":null,"callback_url":"http://example.com","callback_method":"get","status":"pending","reject_reasons":null,"created_at":"2021-04-01T14:29:11.790Z"},"relationships":{"dids":{"links":{"self":"https://sandbox-api.didww.com/v3/address_verifications/aaf2180a-3f2b-4427-888f-3d00f872014e/relationships/dids","related":"https://sandbox-api.didww.com/v3/address_verifications/aaf2180a-3f2b-4427-888f-3d00f872014e/dids"},"data":[{"type":"dids","id":"a9d64c02-4486-4acb-a9a1-be4c81ff0659"}]},"address":{"links":{"self":"https://sandbox-api.didww.com/v3/address_verifications/aaf2180a-3f2b-4427-888f-3d00f872014e/relationships/address","related":"https://sandbox-api.didww.com/v3/address_verifications/aaf2180a-3f2b-4427-888f-3d00f872014e/address"},"data":{"type":"addresses","id":"d3414687-40f4-4346-a267-c2c65117d28c"}}}}],"included":[{"id":"a9d64c02-4486-4acb-a9a1-be4c81ff0659","type":"dids","attributes":{"blocked":true,"capacity_limit":null,"description":null,"terminated":false,"awaiting_registration":true,"created_at":"2021-04-01T14:27:01.000Z","billing_cycles_count":null,"number":"13472013835","expires_at":"2021-05-01T14:27:01.757Z","channels_included_count":0,"dedicated_channels_count":0},"relationships":{"did_group":{"links":{"self":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/did_group","related":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/did_group"}},"order":{"links":{"self":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/order","related":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/order"}},"trunk":{"links":{"self":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/trunk","related":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/trunk"}},"trunk_group":{"links":{"self":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/trunk_group","related":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/trunk_group"}},"capacity_pool":{"links":{"self":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/capacity_pool","related":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/capacity_pool"}},"shared_capacity_group":{"links":{"self":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/shared_capacity_group","related":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/shared_capacity_group"}},"address_verification":{"links":{"self":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/relationships/address_verification","related":"https://sandbox-api.didww.com/v3/dids/a9d64c02-4486-4acb-a9a1-be4c81ff0659/address_verification"}}}},{"id":"d3414687-40f4-4346-a267-c2c65117d28c","type":"addresses","attributes":{"city_name":"Chicago","postal_code":"1234","address":"Main street","description":"some address","created_at":"2021-04-01T13:12:56.632Z"},"relationships":{"identity":{"links":{"self":"https://sandbox-api.didww.com/v3/addresses/d3414687-40f4-4346-a267-c2c65117d28c/relationships/identity","related":"https://sandbox-api.didww.com/v3/addresses/d3414687-40f4-4346-a267-c2c65117d28c/identity"}},"country":{"links":{"self":"https://sandbox-api.didww.com/v3/addresses/d3414687-40f4-4346-a267-c2c65117d28c/relationships/country","related":"https://sandbox-api.didww.com/v3/addresses/d3414687-40f4-4346-a267-c2c65117d28c/country"}},"proofs":{"links":{"self":"https://sandbox-api.didww.com/v3/addresses/d3414687-40f4-4346-a267-c2c65117d28c/relationships/proofs","related":"https://sandbox-api.didww.com/v3/addresses/d3414687-40f4-4346-a267-c2c65117d28c/proofs"}}}}],"meta":{"total_records":1,"api_version":"2026-04-16"},"links":{"first":"https://sandbox-api.didww.com/v3/address_verifications?include=address%2Cdids&page%5Bnumber%5D=1&page%5Bsize%5D=5","last":"https://sandbox-api.didww.com/v3/address_verifications?include=address%2Cdids&page%5Bnumber%5D=1&page%5Bsize%5D=5"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
