interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/address_verifications/4bba99df-d9cc-48ab-a28a-9ff442bfd056
  response:
    body:
      string: '{"data":{"id":"4bba99df-d9cc-48ab-a28a-9ff442bfd056","type":"address_verifications","attributes":{"service_description":null,"callback_url":null,"callback_method":null,"status":"Rejected","reject_reasons":["Building/house/apartment number is missing"],"reference":"VQQ-205646","created_at":"2021-08-03T13:45:27.995Z","reject_comment":"Please re-submit with a more recent utility bill.","external_reference_id":"crm-verif-0001"},"relationships":{"dids":{"links":{"self":"https://sandbox-api.didww.com/v3/address_verifications/4bba99df-d9cc-48ab-a28a-9ff442bfd056/relationships/dids","related":"https://sandbox-api.didww.com/v3/address_verifications/4bba99df-d9cc-48ab-a28a-9ff442bfd056/dids"}},"address":{"links":{"self":"https://sandbox-api.didww.com/v3/address_verifications/4bba99df-d9cc-48ab-a28a-9ff442bfd056/relationships/address","related":"https://sandbox-api.didww.com/v3/address_verifications/4bba99df-d9cc-48ab-a28a-9ff442bfd056/address"}}}},"meta":{"api_version":"2022-05-10"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
