interactions:
- request:
    body: '{"data":{"type":"exports","attributes":{"export_type":"cdr_in","filters":{"did_number":"1234556789","year":"2019","month":"01"}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/exports
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"da15f006-5da4-45ca-b0df-735baeadf423\"\
        ,\n    \"type\": \"exports\",\n    \"attributes\": {\n      \"status\": \"\
        Pending\",\n      \"created_at\": \"2019-01-02T10:23:00.897Z\",\n      \"\
        url\": null,\n      \"callback_url\": null,\n      \"callback_method\": null,\n\
        \      \"export_type\": \"cdr_in\"\n    }\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
