interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/exports
  response:
    body:
      string: "{\n  \"errors\": [\n    {\n      \"title\": \"Unauthorized\",\n   \
        \   \"detail\": \"Authorization failed\",\n      \"code\": \"401\",\n    \
        \  \"status\": \"401\"\n    }\n  ]\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
