interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/exports
  response:
    body:
      string: '{"data": [{"id": "da15f006-5da4-45ca-b0df-735baeadf423", "type": "exports",
        "attributes": {"status": "Completed", "created_at": "2019-01-02T10:23:00.897Z",
        "url": "https://sandbox-api.didww.com/v3/exports/e5352384-6f64-4132-bba1-cda18fbc5896.csv.gz",
        "callback_url": null, "callback_method": null, "export_type": "cdr_in", "external_reference_id":
        "exp-ref-001"}}], "meta": {"total_records": 1}, "links": {"first": "https://sandbox-api.didww.com/v3/exports?page%5Bnumber%5D=1&page%5Bsize%5D=50",
        "last": "https://sandbox-api.didww.com/v3/exports?page%5Bnumber%5D=1&page%5Bsize%5D=50"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
