interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/requirements
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"b6c80acb-3952-4d53-9e62-fe2348c0636b\"\
        ,\n      \"type\": \"requirements\",\n      \"attributes\": {\n        \"\
        identity_type\": \"Any\",\n        \"personal_area_level\": \"Country\",\n\
        \        \"business_area_level\": \"WorldWide\",\n        \"address_area_level\"\
        : \"Area\",\n        \"personal_proof_qty\": 1,\n        \"business_proof_qty\"\
        : 2,\n        \"address_proof_qty\": 1,\n        \"personal_mandatory_fields\"\
        : [\n          \"Country\"\n        ],\n        \"business_mandatory_fields\"\
        : null,\n        \"service_description_required\": false,\n        \"restriction_message\"\
        : \"Needs end user registration.\"\n      },\n      \"relationships\": {\n\
        \        \"country\": {\n          \"links\": {\n            \"self\": \"\
        https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/country\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/country\"\
        \n          }\n        },\n        \"did_group_type\": {\n          \"links\"\
        : {\n            \"self\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/did_group_type\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/did_group_type\"\
        \n          }\n        },\n        \"personal_permanent_document\": {\n  \
        \        \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/personal_permanent_document\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/personal_permanent_document\"\
        \n          }\n        },\n        \"business_permanent_document\": {\n  \
        \        \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/business_permanent_document\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/business_permanent_document\"\
        \n          }\n        },\n        \"personal_onetime_document\": {\n    \
        \      \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/personal_onetime_document\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/personal_onetime_document\"\
        \n          }\n        },\n        \"business_onetime_document\": {\n    \
        \      \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/business_onetime_document\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/business_onetime_document\"\
        \n          }\n        },\n        \"personal_proof_types\": {\n         \
        \ \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/personal_proof_types\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/personal_proof_types\"\
        \n          }\n        },\n        \"business_proof_types\": {\n         \
        \ \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/business_proof_types\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/business_proof_types\"\
        \n          }\n        },\n        \"address_proof_types\": {\n          \"\
        links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/address_proof_types\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/address_proof_types\"\
        \n          }\n        }\n      }\n    },\n    {\n      \"id\": \"51b293af-a496-4bf2-9c68-5221b3b0dc1e\"\
        ,\n      \"type\": \"requirements\",\n      \"attributes\": {\n        \"\
        identity_type\": \"Any\",\n        \"personal_area_level\": \"Country\",\n\
        \        \"business_area_level\": \"Country\",\n        \"address_area_level\"\
        : \"Country\",\n        \"personal_proof_qty\": 2,\n        \"business_proof_qty\"\
        : 1,\n        \"address_proof_qty\": 1,\n        \"personal_mandatory_fields\"\
        : [\n          \"Country\"\n        ],\n        \"business_mandatory_fields\"\
        : [\n          \"Country\"\n        ],\n        \"service_description_required\"\
        : false,\n        \"restriction_message\": \"restriction_message\"\n     \
        \ },\n      \"relationships\": {\n        \"country\": {\n          \"links\"\
        : {\n            \"self\": \"https://sandbox-api.didww.com/v3/requirements/51b293af-a496-4bf2-9c68-5221b3b0dc1e/relationships/country\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/requirements/51b293af-a496-4bf2-9c68-5221b3b0dc1e/country\"\
        \n          }\n        },\n        \"did_group_type\": {\n          \"links\"\
        : {\n   [...]
