interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"25d12afe-1ec6-4fe3-9621-b250dd1fb959\"\
        ,\n    \"type\": \"requirements\",\n    \"attributes\": {\n      \"identity_type\"\
        : \"Any\",\n      \"personal_area_level\": \"WorldWide\",\n      \"business_area_level\"\
        : \"WorldWide\",\n      \"address_area_level\": \"WorldWide\",\n      \"personal_proof_qty\"\
        : 1,\n      \"business_proof_qty\": 1,\n      \"address_proof_qty\": 1,\n\
        \      \"personal_mandatory_fields\": [\n        \"Birth Date\",\n       \
        \ \"Country\",\n        \"Personal Tax ID\"\n      ],\n      \"business_mandatory_fields\"\
        : [\n        \"Proof of ID\",\n        \"VAT Number / TAX Code\",\n      \
        \  \"Country\",\n        \"Company ID\",\n        \"Representative Tax ID\"\
        \n      ],\n      \"service_description_required\": true,\n      \"restriction_message\"\
        : \"End User Registration is Required\"\n    },\n    \"relationships\": {\n\
        \      \"country\": {\n        \"links\": {\n          \"self\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/country\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/country\"\
        \n        },\n        \"data\": {\n          \"type\": \"countries\",\n  \
        \        \"id\": \"5b156dc2-327e-4665-bdc5-35cd8729b885\"\n        }\n   \
        \   },\n      \"did_group_type\": {\n        \"links\": {\n          \"self\"\
        : \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/did_group_type\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/did_group_type\"\
        \n        },\n        \"data\": {\n          \"type\": \"did_group_types\"\
        ,\n          \"id\": \"994ea201-4a4d-4b27-ac4b-b5916ac969a3\"\n        }\n\
        \      },\n      \"personal_permanent_document\": {\n        \"links\": {\n\
        \          \"self\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/personal_permanent_document\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/personal_permanent_document\"\
        \n        },\n        \"data\": {\n          \"type\": \"supporting_document_templates\"\
        ,\n          \"id\": \"fd38c86d-b69b-4ca8-b73c-286a3b93d107\"\n        }\n\
        \      },\n      \"business_permanent_document\": {\n        \"links\": {\n\
        \          \"self\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/business_permanent_document\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/business_permanent_document\"\
        \n        },\n        \"data\": {\n          \"type\": \"supporting_document_templates\"\
        ,\n          \"id\": \"fd38c86d-b69b-4ca8-b73c-286a3b93d107\"\n        }\n\
        \      },\n      \"personal_onetime_document\": {\n        \"links\": {\n\
        \          \"self\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/personal_onetime_document\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/personal_onetime_document\"\
        \n        },\n        \"data\": {\n          \"type\": \"supporting_document_templates\"\
        ,\n          \"id\": \"206ccec2-1166-461f-9f58-3a56823db548\"\n        }\n\
        \      },\n      \"business_onetime_document\": {\n        \"links\": {\n\
        \          \"self\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/business_onetime_document\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/business_onetime_document\"\
        \n        },\n        \"data\": {\n          \"type\": \"supporting_document_templates\"\
        ,\n          \"id\": \"206ccec2-1166-461f-9f58-3a56823db548\"\n        }\n\
        \      },\n      \"personal_proof_types\": {\n        \"links\": {\n     \
        \     \"self\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/personal_proof_types\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/personal_proof_types\"\
        \n        },\n        \"data\": [\n          {\n            \"type\": \"proof_types\"\
        ,\n            \"id\": \"19cd7b22-559b-41d4-99c9-7ad7ad63d5d1\"\n        \
        \  }\n        ]\n      },\n      \"business_proof_types\": {\n        \"links\"\
        : {\n          \"self\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/business_proof_types\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/business_proof_types\"\
        \n        },\n        \"data\": [\n          {\n            \"type\": \"proof_types\"\
        ,\n            \"id\": \"af07842f-6339-46fe-83b6-57e457af1eaf\"\n        \
        \  },\n          {\n            \"type\": \"proof_types\",\n            \"\
        id\": \"56b7d7cb-4d36-49c8-a786-2179967bba4c\"\n          },\n          {\n\
        \            \"type\": \"proof_types\",\n            \"id\": \"ecf699c6-b1ad-4866-974b-06d2e8a698e6\"\
        \n          },\n          {\n            \"type\": \"proof_types\",\n    \
        \        \"id\": \"7f80edde-1b80-4410-af06-76a38ea9e576\"\n          },\n\
        \          {\n            \"type\": \"proof_types\",\n            \"id\":\
        \ \"80253913-cd8b-4ce2-91a9-9299587ac409\"\n          },\n          {\n  \
        \          \"type\": \"proof_types\",\n            \"id\": \"0eb83bb2-730c-45fb-b39c-c0bf02f88e9e\"\
        \n          },\n          {\n            \"type\": \"proof_types\",\n    \
        \        \"id\": \"1f3f4747-0835-44a4-9e5f-40e52ec4fce7\"\n          }\n \
        \       ]\n      },\n      \"address_proof_types\": {\n        \"links\":\
        \ {\n          \"self\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/address_proof_types\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/address_proof_types\"\
        \n        },\n        \"data\": [\n          {\n            \"type\": \"proof_types\"\
        ,\n            \"id\": \"d2c1b3fb-29f7-46ca-ba82-b617f4630b78\"\n        \
        \  }\n        ]\n      }\n    }\n  },\n  \"included\": [\n    {\n      \"\
        id\": \"5b156dc2-327e-4665-bdc5-35cd8729b885\",\n      \"type\": \"countries\"\
        ,\n      \"attributes\": {\n        \"name\": \"Spain\",\n        \"prefix\"\
        : \"34\",\n        \"iso\": \"ES\"\n      },\n      \"relationships\": {\n\
        \        \"regions\": {\n          \"links\": {\n            \"self\": \"\
        https://sandbox-api.didww.com/v3/countries/5b156dc2-327e-4665-bdc5-35cd8729b885/relationships/regions\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/countries/5b156dc2-327e-4665-bdc5-35cd8729b885/regions\"\
        \n          }\n        }\n      }\n    },\n    {\n      \"id\": \"994ea201-4a4d-4b27-ac4b-b5916ac969a3\"\
        ,\n      \"type\": \"did_group_types\",\n      \"attributes\": {\n       \
        \ \"name\": \"Local\"\n      }\n    },\n    {\n      \"id\": \"fd38c86d-b69b-4ca8-b73c-286a3b93d107\"\
        ,\n      \"type\": \"supporting_document_templates\",\n      \"attributes\"\
        : {\n        \"name\": \"Belgium Registration Form\",\n        \"permanent\"\
        : true,\n        \"url\": \"https://sandbox-api.didww.com/storage/public/e8lziulj68xetfa5ed6na3g7q7ra\"\
        \n      }\n    },\n    {\n      \"id\": \"206ccec2-1166-461f-9f58-3a56823db548\"\
        ,\n      \"type\": \"supporting_document_templates\",\n      \"attributes\"\
        : {\n        \"name\": \"Generic LOI\",\n        \"permanent\": false,\n \
        \       \"url\": \"https://sandbox-api.didww.com/storage/public/w7f2irbo819la7vd7up7u67pkmkn\"\
        \n      }\n    },\n    {\n      \"id\": \"19cd7b22-559b-41d4-99c9-7ad7ad63d5d1\"\
        ,\n      \"type\": \"proof_types\",\n      \"attributes\": {\n        \"name\"\
        : \"Drivers License\",\n        \"entity_type\": \"Personal\"\n      }\n \
        \   },\n    {\n      \"id\": \"af07842f-6339-46fe-83b6-57e457af1eaf\",\n \
        \     \"type\": \"proof_types\",\n      \"attributes\": {\n        \"name\"\
        : \"Business Registration Certificate / Incorporation Certificate\",\n   \
        \     \"entity_type\": \"Business\"\n      }\n    },\n    {\n      \"id\"\
        : \"56b7d7cb-4d36-49c8-a786-2179967bba4c\",\n      \"type\": \"proof_types\"\
        ,\n      \"attributes\": {\n        \"name\":[...]
