interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/address_requirement_validations
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"aea92b24-a044-4864-9740-89d3e15b65c7\"\
        ,\n    \"type\": \"address_requirement_validations\"\n  },\n  \"meta\": {\n    \"\
        api_version\": \"2021-04-19\"\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
