interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/address_requirement_validations
  response:
    body:
      string: '{"errors":[{"title":"Identity Place of Birth must be Belgium","detail":"Identity Place of Birth must be Belgium","code":"100","source":{"pointer":"/data"},"status":"422"},{"title":"Following Supporting Document(s) required (Belgium Registration Form)","detail":"Following Supporting Document(s) required (Belgium Registration Form)","code":"100","source":{"pointer":"/data"},"status":"422"},{"title":"Address in Belgium required","detail":"Address in Belgium required","code":"100","source":{"pointer":"/data"},"status":"422"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 422
      message: Unprocessable Entity
version: 1
