interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/proofs
  response:
    body:
      string: '{"data": {"id": "ed46925b-a830-482d-917d-015858cf7ab9", "type": "proofs",
        "attributes": {"created_at": "2021-04-01T15:03:49.672Z", "expires_at": null,
        "external_reference_id": "proof-ref-001"}, "relationships": {"proof_type":
        {"links": {"self": "https://sandbox-api.didww.com/v3/proofs/ed46925b-a830-482d-917d-015858cf7ab9/relationships/proof_type",
        "related": "https://sandbox-api.didww.com/v3/proofs/ed46925b-a830-482d-917d-015858cf7ab9/proof_type"},
        "data": {"type": "proof_types", "id": "19cd7b22-559b-41d4-99c9-7ad7ad63d5d1"}},
        "entity": {"links": {"self": "https://sandbox-api.didww.com/v3/proofs/ed46925b-a830-482d-917d-015858cf7ab9/relationships/entity",
        "related": "https://sandbox-api.didww.com/v3/proofs/ed46925b-a830-482d-917d-015858cf7ab9/entity"}}}},
        "included": [{"id": "19cd7b22-559b-41d4-99c9-7ad7ad63d5d1", "type": "proof_types",
        "attributes": {"name": "Drivers License", "entity_type": "Personal"}}], "meta":
        {"api_version": "2021-04-19"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
