interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/countries
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"6c7727b3-6e17-4b8b-a4b3-4c5142e31a63\"\
        ,\n      \"type\": \"countries\",\n      \"attributes\": {\n        \"name\"\
        : \"Afghanistan\",\n        \"prefix\": \"93\",\n        \"iso\": \"AF\"\n\
        \      }\n    },\n    {\n      \"id\": \"86c5647c-67a2-4856-8271-3c78c90bb47b\"\
        ,\n      \"type\": \"countries\",\n      \"attributes\": {\n        \"name\"\
        : \"Albania\",\n        \"prefix\": \"355\",\n        \"iso\": \"AL\"\n  \
        \    }\n    },\n    {\n      \"id\": \"e36a345a-0186-4eb4-85e6-840fed74f49f\"\
        ,\n      \"type\": \"countries\",\n      \"attributes\": {\n        \"name\"\
        : \"Algeria\",\n        \"prefix\": \"213\",\n    [...]
