interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/regions
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"d2716c9b-0bff-4de8-a25e-d12bf6408d3a\"\
        ,\n      \"type\": \"regions\",\n      \"attributes\": {\n        \"name\"\
        : \"Alabama\"\n      },\n      \"relationships\": {\n        \"country\":\
        \ {\n          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/regions/d2716c9b-0bff-4de8-a25e-d12bf6408d3a/relationships/country\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/regions/d2716c9b-0bff-4de8-a25e-d12bf6408d3a/country\"\
        \n          }\n        }\n      }\n    },\n    {\n      \"id\": \"59d352b7-9a17-4722-a1fb-9a79b2c9007a\"\
        ,\n      \"type\": \"regions\",\n      \"attributes\": {\n        \"name\"\
        : \"Alaska\"\n      },\n      \"relationships\": {\n        \"country\": {\n\
        \          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/regions/59d352b7-9a17-4722-a1fb-9a[...]
