interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/regions/c11b1f34-16cf-4ba6-8497-f305b53d5b01
  response:
    body:
      string: '{"data":{"id":"c11b1f34-16cf-4ba6-8497-f305b53d5b01","type":"regions","attributes":{"name":"California"},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/regions/c11b1f34-16cf-4ba6-8497-f305b53d5b01/relationships/country","related":"https://sandbox-api.didww.com/v3/regions/c11b1f34-16cf-4ba6-8497-f305b53d5b01/country"},"data":{"type":"countries","id":"1f6fc2bd-f081-4202-9b1a-d9cb88d942b9"}}}},"included":[{"id":"1f6fc2bd-f081-4202-9b1a-d9cb88d942b9","type":"countries","attributes":{"name":"United States","prefix":"1","iso":"US"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
