interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/addresses
  response:
    body:
      string: '{"data":[{"id":"9d3f2582-a292-4b6b-828b-74c78b5a3780","type":"addresses","attributes":{"city_name":"Odessa","postal_code":"65000","address":"literurna
        12","description":"1","created_at":"2020-11-02T15:49:10.769Z","verified":false,"external_reference_id":"crm-addr-0001"},"relationships":{"identity":{"links":{"self":"https://sandbox-api.didww.com/v3/addresses/9d3f2582-a292-4b6b-828b-74c78b5a3780/relationships/identity","related":"https://sandbox-api.didww.com/v3/addresses/9d3f2582-a292-4b6b-828b-74c78b5a3780/identity"},"data":{"type":"identities","id":"b4fe0262-a79e-4c1f-a313-bd32739c44e5"}},"country":{"links":{"self":"https://sandbox-api.didww.com/v3/addresses/9d3f2582-a292-4b6b-828b-74c78b5a3780/relationships/country","related":"https://sandbox-api.didww.com/v3/addresses/9d3f2582-a292-4b6b-828b-74c78b5a3780/country"},"data":{"type":"countries","id":"f0ce4464-dfeb-412f-8ad1-ee27a858d0c2"}},"proofs":{"links":{"self":"https://sandbox-api.didww.com/v3/addresses/9d3f2582-a292-4b6b-828b-74c78b5a3780/relationships/proofs","related":"https://sandbox-api.didww.com/v3/addresses/9d3f2582-a292-4b6b-828b-74c78b5a3780/proofs"},"data":[{"type":"proofs","id":"dd2f5f37-0d08-415d-9530-6488e6eb797b"}]},"area":{"links":{"self":"https://sandbox-api.didww.com/v3/addresses/9d3f2582-a292-4b6b-828b-74c78b5a3780/relationships/area","related":"https://sandbox-api.didww.com/v3/addresses/9d3f2582-a292-4b6b-828b-74c78b5a3780/area"},"data":null},"city":{"links":{"self":"https://sandbox-api.didww.com/v3/addresses/9d3f2582-a292-4b6b-828b-74c78b5a3780/relationships/city","related":"https://sandbox-api.didww.com/v3/addresses/9d3f2582-a292-4b6b-828b-74c78b5a3780/city"},"data":null}}}],"included":[{"id":"b4fe0262-a79e-4c1f-a313-bd32739c44e5","type":"identities","attributes":{"first_name":"John","last_name":"Doe","phone_number":"12345678","id_number":null,"birth_date":"1987-01-02","company_name":null,"company_reg_number":null,"vat_id":null,"description":null,"personal_tax_id":null,"identity_type":"personal","created_at":"2020-10-09T10:21:04.835Z","external_reference_id":null,"verified":false,"external_reference_id":"crm-addr-0001"},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/b4fe0262-a79e-4c1f-a313-bd32739c44e5/relationships/country","related":"https://sandbox-api.didww.com/v3/identities/b4fe0262-a79e-4c1f-a313-bd32739c44e5/country"}},"proofs":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/b4fe0262-a79e-4c1f-a313-bd32739c44e5/relationships/proofs","related":"https://sandbox-api.didww.com/v3/identities/b4fe0262-a79e-4c1f-a313-bd32739c44e5/proofs"}},"addresses":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/b4fe0262-a79e-4c1f-a313-bd32739c44e5/relationships/addresses","related":"https://sandbox-api.didww.com/v3/identities/b4fe0262-a79e-4c1f-a313-bd32739c44e5/addresses"}},"permanent_documents":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/b4fe0262-a79e-4c1f-a313-bd32739c44e5/relationships/permanent_documents","related":"https://sandbox-api.didww.com/v3/identities/b4fe0262-a79e-4c1f-a313-bd32739c44e5/permanent_documents"}}}},{"id":"f0ce4464-dfeb-412f-8ad1-ee27a858d0c2","type":"countries","attributes":{"name":"Ukraine","prefix":"380","iso":"UA"},"relationships":{"regions":{"links":{"self":"https://sandbox-api.didww.com/v3/countries/f0ce4464-dfeb-412f-8ad1-ee27a858d0c2/relationships/regions","related":"https://sandbox-api.didww.com/v3/countries/f0ce4464-dfeb-412f-8ad1-ee27a858d0c2/regions"}}}},{"id":"dd2f5f37-0d08-415d-9530-6488e6eb797b","type":"proofs","attributes":{"created_at":"2020-11-02T15:49:10.775Z","expires_at":null},"relationships":{"proof_type":{"links":{"self":"https://sandbox-api.didww.com/v3/proofs/dd2f5f37-0d08-415d-9530-6488e6eb797b/relationships/proof_type","related":"https://sandbox-api.didww.com/v3/proofs/dd2f5f37-0d08-415d-9530-6488e6eb797b/proof_type"}},"entity":{"links":{"self":"https://sandbox-api.didww.com/v3/proofs/dd2f5f37-0d08-415d-9530-6488e6eb797b/relationships/entity","related":"https://sandbox-api.didww.com/v3/proofs/dd2f5f37-0d08-415d-9530-6488e6eb797b/entity"}}}}],"meta":{"total_records":1,"api_version":"2021-04-19"},"links":{"first":"https://sandbox-api.didww.com/v3/addresses?include=country%2Cidentity%2Cproofs%2Carea%2Ccity&page%5Bnumber%5D=1&page%5Bsize%5D=5","last":"https://sandbox-api.didww.com/v3/addresses?include=country%2Cidentity%2Cproofs%2Carea%2Ccity&page%5Bnumber%5D=1&page%5Bsize%5D=5"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
