interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/addresses/bf69bc70-e1c2-442c-9f30-335ee299b663
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"bf69bc70-e1c2-442c-9f30-335ee299b663\"\
        ,\n    \"type\": \"addresses\",\n    \"attributes\": {\n      \"city_name\"\
        : \"Chicago\",\n      \"postal_code\": \"1234\",\n      \"address\": \"Main\
        \ street\",\n      \"description\": \"some address\",\n      \"created_at\"\
        : \"2021-04-01T14:59:47.128Z\",\n      \"verified\": false\n    },\n    \"\
        relationships\": {\n      \"identity\": {\n        \"links\": {\n        \
        \  \"self\": \"https://sandbox-api.didww.com/v3/addresses/bf69bc70-e1c2-442c-9f30-335ee299b663/relationships/identity\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/addresses/bf69bc70-e1c2-442c-9f30-335ee299b663/identity\"\
        \n        }\n      },\n      \"country\": {\n        \"links\": {\n      \
        \    \"self\": \"https://sandbox-api.didww.com/v3/addresses/bf69bc70-e1c2-442c-9f30-335ee299b663/relationships/country\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/addresses/bf69bc70-e1c2-442c-9f30-335ee299b663/country\"\
        \n        }\n      },\n      \"proofs\": {\n        \"links\": {\n       \
        \   \"self\": \"https://sandbox-api.didww.com/v3/addresses/bf69bc70-e1c2-442c-9f30-335ee299b663/relationships/proofs\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/addresses/bf69bc70-e1c2-442c-9f30-335ee299b663/proofs\"\
        \n        }\n      }\n    }\n  },\n  \"meta\": {\n    \"api_version\": \"\
        2021-04-19\"\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
