interactions:
- request:
    body: '{"data":{"type":"voice_out_trunks","attributes":{"name":"ts-test","on_cli_mismatch_action":1,"authentication_method":{"type":"ip_only","attributes":{"allowed_sip_ips":["203.0.113.0/24"],"tech_prefix":""}}},"relationships":{"default_did":{"data":{"id":"7a028c32-e6b6-4c86-bf01-90f901b37012","type":"dids"}},"dids":{"data":[{"id":"7a028c32-e6b6-4c86-bf01-90f901b37012","type":"dids"}]}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/voice_out_trunks
  response:
    body:
      string: '{"data": {"id": "b60201c1-21f0-4d9a-aafa-0e6d1e12f22e", "type": "voice_out_trunks", "attributes": {"allowed_rtp_ips": null, "allow_any_did_as_cli": false, "status": "active", "on_cli_mismatch_action": "replace_cli", "name": "ts-test", "capacity_limit": null, "created_at": "2022-02-03T08:21:29.798Z", "threshold_reached": false, "threshold_amount": null, "media_encryption_mode": "disabled", "default_dst_action": "allow_all", "dst_prefixes": [], "force_symmetric_rtp": false, "rtp_ping": false, "callback_url": null, "authentication_method": {"type": "credentials_and_ip", "attributes": {"allowed_sip_ips": ["0.0.0.0/0"], "tech_prefix": "", "username": "qkut5v4xwm", "password": "np34mftrrq"}}}, "relationships": {"default_did": {"links": {"self": "https://sandbox-api.didww.com/v3/voice_out_trunks/b60201c1-21f0-4d9a-aafa-0e6d1e12f22e/relationships/default_did", "related": "https://sandbox-api.didww.com/v3/voice_out_trunks/b60201c1-21f0-4d9a-aafa-0e6d1e12f22e/default_did"}}, "dids":
        {"links": {"self": "https://sandbox-api.didww.com/v3/voice_out_trunks/b60201c1-21f0-4d9a-aafa-0e6d1e12f22e/relationships/dids", "related": "https://sandbox-api.didww.com/v3/voice_out_trunks/b60201c1-21f0-4d9a-aafa-0e6d1e12f22e/dids"}}}, "meta": {"spent_amount": "0.0"}}, "meta": {"api_version": "2021-12-15"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
