interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/voice_out_trunks
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"b60201c1-21f0-4d9a-aafa-0e6d1e12f22e\"\
        ,\n    \"type\": \"voice_out_trunks\",\n    \"attributes\": {\n      \"allowed_sip_ips\"\
        : [\n        \"0.0.0.0/0\"\n      ],\n      \"allowed_rtp_ips\": null,\n \
        \     \"allow_any_did_as_cli\": false,\n      \"status\": \"active\",\n  \
        \    \"on_cli_mismatch_action\": \"replace_cli\",\n      \"name\": \"ts-test\"\
        ,\n      \"capacity_limit\": null,\n      \"username\": \"qkut5v4xwm\",\n\
        \      \"password\": \"np34mftrrq\",\n      \"created_at\": \"2022-02-03T08:21:29.798Z\"\
        ,\n      \"threshold_reached\": false,\n      \"threshold_amount\": null,\n\
        \      \"media_encryption_mode\": \"disabled\",\n      \"default_dst_action\"\
        : \"allow_all\",\n      \"dst_prefixes\": [],\n      \"force_symmetric_rtp\"\
        : false,\n      \"rtp_ping\": false,\n      \"callback_url\": null\n    },\n\
        \    \"relationships\": {\n      \"default_did\": {\n        \"links\": {\n\
        \          \"self\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/b60201c1-21f0-4d9a-aafa-0e6d1e12f22e/relationships/default_did\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/b60201c1-21f0-4d9a-aafa-0e6d1e12f22e/default_did\"\
        \n        }\n      },\n      \"dids\": {\n        \"links\": {\n         \
        \ \"self\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/b60201c1-21f0-4d9a-aafa-0e6d1e12f22e/relationships/dids\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/b60201c1-21f0-4d9a-aafa-0e6d1e12f22e/dids\"\
        \n        }\n      }\n    },\n    \"meta\": {\n      \"spent_amount\": \"\
        0.0\"\n    }\n  },\n  \"meta\": {\n    \"api_version\": \"2021-12-15\"\n \
        \ }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
