interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/voice_out_trunks
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"425ce763-a3a9-49b4-af5b-ada1a65c8864\"\
        ,\n      \"type\": \"voice_out_trunks\",\n      \"attributes\": {\n      \
        \  \"allowed_sip_ips\": [\n          \"10.11.12.13/32\"\n        ],\n    \
        \    \"allowed_rtp_ips\": null,\n        \"allow_any_did_as_cli\": false,\n\
        \        \"status\": \"blocked\",\n        \"on_cli_mismatch_action\": \"\
        replace_cli\",\n        \"name\": \"test\",\n        \"capacity_limit\": 123,\n\
        \        \"username\": \"dpjgwbbac9\",\n        \"password\": \"z0hshvbcy7\"\
        ,\n        \"created_at\": \"2022-02-02T16:50:45.053Z\",\n        \"threshold_reached\"\
        : false,\n        \"threshold_amount\": \"200.0\",\n        \"media_encryption_mode\"\
        : \"srtp_sdes\",\n        \"default_dst_action\": \"reject_all\",\n      \
        \  \"dst_prefixes\": [\n          \"370\"\n        ],\n        \"force_symmetric_rtp\"\
        : true,\n        \"rtp_ping\": true,\n        \"callback_url\": null\n   \
        \   },\n      \"relationships\": {\n        \"default_did\": {\n         \
        \ \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/relationships/default_did\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/default_did\"\
        \n          }\n        },\n        \"dids\": {\n          \"links\": {\n \
        \           \"self\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/relationships/dids\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/dids\"\
        \n          }\n        }\n      },\n      \"meta\": {\n        \"spent_amount\"\
        : \"0.0\"\n      }\n    },\n    {\n      \"id\": \"b7183e37-f660-4d67-87dc-b2d9faa7041d\"\
        ,\n      \"type\": \"voice_out_trunks\",\n      \"attributes\": {\n      \
        \  \"allowed_sip_ips\": [\n          \"0.0.0.0/0\"\n        ],\n        \"\
        allowed_rtp_ips\": null,\n        \"allow_any_did_as_cli\": false,\n     \
        \   \"status\": \"active\",\n        \"on_cli_mismatch_action\": \"send_original_cli\"\
        ,\n        \"name\": \"ts-sdk\",\n        \"capacity_limit\": null,\n   \
        \     \"username\": \"50fb4hugfv\",\n        \"password\": \"evhwkcfjm5\"\
        ,\n        \"created_at\": \"2022-02-02T17:05:58.661Z\",\n        \"threshold_reached\"\
        : false,\n        \"threshold_amount\": null,\n        \"media_encryption_mode\"\
        : \"disabled\",\n        \"default_dst_action\": \"allow_all\",\n        \"\
        dst_prefixes\": [],\n        \"force_symmetric_rtp\": false,\n        \"rtp_ping\"\
        : false,\n        \"callback_url\": null\n      },\n      \"relationships\"\
        : {\n        \"default_did\": {\n          \"links\": {\n            \"self\"\
        : \"https://sandbox-api.didww.com/v3/voice_out_trunks/b7183e37-f660-4d67-87dc-b2d9faa7041d/relationships/default_did\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/b7183e37-f660-4d67-87dc-b2d9faa7041d/default_did\"\
        \n          }\n        },\n        \"dids\": {\n          \"links\": {\n \
        \           \"self\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/b7183e37-f660-4d67-87dc-b2d9faa7041d/relationships/dids\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/b7183e37-f660-4d67-87dc-b2d9faa7041d/dids\"\
        \n          }\n        }\n      },\n      \"meta\": {\n        \"spent_amount\"\
        : \"0.0\"\n      }\n    }\n  ],\n  \"meta\": {\n    \"total_records\": 2,\n\
        \    \"api_version\": \"2021-12-15\"\n  },\n  \"links\": {\n    \"first\"\
        : \"https://sandbox-api.didww.com/v3/voice_out_trunks?page%5Bnumber%5D=1&page%5Bsize%5D=50\"\
        ,\n    \"last\": \"https://sandbox-api.didww.com/v3/voice_out_trunks?page%5Bnumber%5D=1&page%5Bsize%5D=50\"\
        \n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
