interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864
  response:
    body:
      string: '{"data": {"id": "425ce763-a3a9-49b4-af5b-ada1a65c8864", "type": "voice_out_trunks",
        "attributes": {"allowed_rtp_ips": null, "allow_any_did_as_cli": false, "status":
        "blocked", "on_cli_mismatch_action": "replace_cli", "name": "test", "capacity_limit":
        123, "created_at": "2022-02-02T16:50:45.053Z", "threshold_reached": false,
        "threshold_amount": "200.0", "media_encryption_mode": "srtp_sdes", "default_dst_action":
        "reject_all", "dst_prefixes": ["370"], "force_symmetric_rtp": true, "rtp_ping":
        true, "callback_url": null, "authentication_method": {"type": "credentials_and_ip",
        "attributes": {"allowed_sip_ips": ["10.11.12.13/32"], "tech_prefix": "", "username":
        "dpjgwbbac9", "password": "z0hshvbcy7"}}, "external_reference_id": "vot-ref-001",
        "emergency_enable_all": false, "rtp_timeout": 30}, "relationships": {"default_did":
        {"links": {"self": "https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/relationships/default_did",
        "related": "https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/default_did"},
        "data": {"type": "dids", "id": "7de7f718-4042-4d74-9fe9-863fa1777520"}}, "dids":
        {"links": {"self": "https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/relationships/dids",
        "related": "https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/dids"},
        "data": [{"type": "dids", "id": "eeda315a-f016-4945-a3a9-bafc24302cdd"}, {"type":
        "dids", "id": "7de7f718-4042-4d74-9fe9-863fa1777520"}]}}, "meta": {"spent_amount":
        "0.0"}}, "included": [{"id": "7de7f718-4042-4d74-9fe9-863fa1777520", "type":
        "dids", "attributes": {"blocked": false, "capacity_limit": null, "description":
        null, "terminated": false, "awaiting_registration": false, "created_at": "2020-08-05T08:11:38.492Z",
        "billing_cycles_count": null, "number": "37061498222", "expires_at": "2022-02-05T08:11:43.079Z",
        "channels_included_count": 0, "dedicated_channels_count": 0}, "relationships":
        {"did_group": {"links": {"self": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/did_group",
        "related": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/did_group"}},
        "order": {"links": {"self": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/order",
        "related": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/order"}},
        "capacity_pool": {"links": {"self": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/capacity_pool",
        "related": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/capacity_pool"}},
        "shared_capacity_group": {"links": {"self": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/shared_capacity_group",
        "related": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/shared_capacity_group"}},
        "address_verification": {"links": {"self": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/address_verification",
        "related": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/address_verification"}},
        "voice_in_trunk": {"links": {"self": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/voice_in_trunk",
        "related": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/voice_in_trunk"}},
        "voice_in_trunk_group": {"links": {"self": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/voice_in_trunk_group",
        "related": "https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/voice_in_trunk_group"}}}},
        {"id": "eeda315a-f016-4945-a3a9-bafc24302cdd", "type": "dids", "attributes":
        {"blocked": false, "capacity_limit": null, "description": null, "terminated":
        false, "awaiting_registration": false, "created_at": "2020-10-19T1[...]
