interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"425ce763-a3a9-49b4-af5b-ada1a65c8864\"\
        ,\n    \"type\": \"voice_out_trunks\",\n    \"attributes\": {\n      \"allowed_sip_ips\"\
        : [\n        \"10.11.12.13/32\"\n      ],\n      \"allowed_rtp_ips\": null,\n\
        \      \"allow_any_did_as_cli\": false,\n      \"status\": \"blocked\",\n\
        \      \"on_cli_mismatch_action\": \"replace_cli\",\n      \"name\": \"test\"\
        ,\n      \"capacity_limit\": 123,\n      \"username\": \"dpjgwbbac9\",\n \
        \     \"password\": \"z0hshvbcy7\",\n      \"created_at\": \"2022-02-02T16:50:45.053Z\"\
        ,\n      \"threshold_reached\": false,\n      \"threshold_amount\": \"200.0\"\
        ,\n      \"media_encryption_mode\": \"srtp_sdes\",\n      \"default_dst_action\"\
        : \"reject_all\",\n      \"dst_prefixes\": [\n        \"370\"\n      ],\n\
        \      \"force_symmetric_rtp\": true,\n      \"rtp_ping\": true,\n      \"\
        callback_url\": null\n    },\n    \"relationships\": {\n      \"default_did\"\
        : {\n        \"links\": {\n          \"self\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/relationships/default_did\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/default_did\"\
        \n        },\n        \"data\": {\n          \"type\": \"dids\",\n       \
        \   \"id\": \"7de7f718-4042-4d74-9fe9-863fa1777520\"\n        }\n      },\n\
        \      \"dids\": {\n        \"links\": {\n          \"self\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/relationships/dids\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/dids\"\
        \n        },\n        \"data\": [\n          {\n            \"type\": \"dids\"\
        ,\n            \"id\": \"eeda315a-f016-4945-a3a9-bafc24302cdd\"\n        \
        \  },\n          {\n            \"type\": \"dids\",\n            \"id\": \"\
        7de7f718-4042-4d74-9fe9-863fa1777520\"\n          }\n        ]\n      }\n\
        \    },\n    \"meta\": {\n      \"spent_amount\": \"0.0\"\n    }\n  },\n \
        \ \"included\": [\n    {\n      \"id\": \"7de7f718-4042-4d74-9fe9-863fa1777520\"\
        ,\n      \"type\": \"dids\",\n      \"attributes\": {\n        \"blocked\"\
        : false,\n        \"capacity_limit\": null,\n        \"description\": null,\n\
        \        \"terminated\": false,\n        \"awaiting_registration\": false,\n\
        \        \"created_at\": \"2020-08-05T08:11:38.492Z\",\n        \"billing_cycles_count\"\
        : null,\n        \"number\": \"37061498222\",\n        \"expires_at\": \"\
        2022-02-05T08:11:43.079Z\",\n        \"channels_included_count\": 0,\n   \
        \     \"dedicated_channels_count\": 0\n      },\n      \"relationships\":\
        \ {\n        \"did_group\": {\n          \"links\": {\n            \"self\"\
        : \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/did_group\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/did_group\"\
        \n          }\n        },\n        \"order\": {\n          \"links\": {\n\
        \            \"self\": \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/order\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/order\"\
        \n          }\n        },\n        \"capacity_pool\": {\n          \"links\"\
        : {\n            \"self\": \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/capacity_pool\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/capacity_pool\"\
        \n          }\n        },\n        \"shared_capacity_group\": {\n        \
        \  \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/shared_capacity_group\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/shared_capacity_group\"\
        \n          }\n        },\n        \"address_verification\": {\n         \
        \ \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/address_verification\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/address_verification\"\
        \n          }\n        },\n        \"voice_in_trunk\": {\n          \"links\"\
        : {\n            \"self\": \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/voice_in_trunk\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/voice_in_trunk\"\
        \n          }\n        },\n        \"voice_in_trunk_group\": {\n         \
        \ \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/relationships/voice_in_trunk_group\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/dids/7de7f718-4042-4d74-9fe9-863fa1777520/voice_in_trunk_group\"\
        \n          }\n        }\n      }\n    },\n    {\n      \"id\": \"eeda315a-f016-4945-a3a9-bafc24302cdd\"\
        ,\n      \"type\": \"dids\",\n      \"attributes\": {\n        \"[...]
