interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864
  response:
    body:
      string: '{"data": {"id": "425ce763-a3a9-49b4-af5b-ada1a65c8864", "type": "voice_out_trunks", "attributes": {"allowed_rtp_ips": null, "allow_any_did_as_cli": false, "status": "blocked", "on_cli_mismatch_action": "replace_cli", "name": "test", "capacity_limit": 123, "created_at": "2022-02-02T16:50:45.053Z", "threshold_reached": false, "threshold_amount": "200.0", "media_encryption_mode": "disabled", "default_dst_action": "reject_all", "dst_prefixes": ["370"], "force_symmetric_rtp": true, "rtp_ping": true, "callback_url": null, "authentication_method": {"type": "credentials_and_ip", "attributes": {"allowed_sip_ips": ["203.0.113.1/32"], "tech_prefix": "", "username": "dpjgwbbac9", "password": "z0hshvbcy7"}}}, "relationships": {"default_did": {"links": {"self": "https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/relationships/default_did", "related": "https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/default_did"}},
        "dids": {"links": {"self": "https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/relationships/dids", "related": "https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/dids"}}}, "meta": {"spent_amount": "0.0"}}, "meta": {"api_version": "2021-12-15"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
