interactions:
- request:
    body: '{"data":{"type":"voice_out_trunks","id":"425ce763-a3a9-49b4-af5b-ada1a65c8864","attributes":{"emergency_enable_all":true},"relationships":{"emergency_dids":{"data":[{"type":"dids","id":"did-aaa"},{"type":"dids","id":"did-bbb"}]}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864
  response:
    body:
      string: '{"data":{"id":"425ce763-a3a9-49b4-af5b-ada1a65c8864","type":"voice_out_trunks","attributes":{"name":"test","on_cli_mismatch_action":"send_original_cli","allowed_rtp_ips":[],"allow_any_did_as_cli":false,"status":"active","capacity_limit":10,"threshold_amount":"200.0","media_encryption_mode":"disabled","default_dst_action":"allow_all","dst_prefixes":[],"force_symmetric_rtp":false,"rtp_ping":false,"callback_url":null,"threshold_reached":false,"created_at":"2021-01-01T00:00:00.000Z","external_reference_id":null,"emergency_enable_all":true,"rtp_timeout":null,"authentication_method":{"type":"ip_only","attributes":{"allowed_sip_ips":["203.0.113.0/24"],"tech_prefix":""}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
