interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"425ce763-a3a9-49b4-af5b-ada1a65c8864\"\
        ,\n    \"type\": \"voice_out_trunks\",\n    \"attributes\": {\n      \"allowed_sip_ips\"\
        : [\n        \"10.11.12.13/32\"\n      ],\n      \"allowed_rtp_ips\": null,\n\
        \      \"allow_any_did_as_cli\": false,\n      \"status\": \"blocked\",\n\
        \      \"on_cli_mismatch_action\": \"replace_cli\",\n      \"name\": \"test\"\
        ,\n      \"capacity_limit\": 123,\n      \"username\": \"dpjgwbbac9\",\n \
        \     \"password\": \"z0hshvbcy7\",\n      \"created_at\": \"2022-02-02T16:50:45.053Z\"\
        ,\n      \"threshold_reached\": false,\n      \"threshold_amount\": \"200.0\"\
        ,\n      \"media_encryption_mode\": \"disabled\",\n      \"default_dst_action\"\
        : \"reject_all\",\n      \"dst_prefixes\": [\n        \"370\"\n      ],\n\
        \      \"force_symmetric_rtp\": true,\n      \"rtp_ping\": true,\n      \"\
        callback_url\": null\n    },\n    \"relationships\": {\n      \"default_did\"\
        : {\n        \"links\": {\n          \"self\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/relationships/default_did\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/default_did\"\
        \n        }\n      },\n      \"dids\": {\n        \"links\": {\n         \
        \ \"self\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/relationships/dids\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/voice_out_trunks/425ce763-a3a9-49b4-af5b-ada1a65c8864/dids\"\
        \n        }\n      }\n    },\n    \"meta\": {\n      \"spent_amount\": \"\
        0.0\"\n    }\n  },\n  \"meta\": {\n    \"api_version\": \"2021-12-15\"\n \
        \ }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
