interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/identities
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"9728ea13-cb5d-41fb-8a7f-796a005b0a13\"\
        ,\n    \"type\": \"identities\",\n    \"attributes\": {\n      \"first_name\"\
        : \"John\",\n      \"last_name\": \"Doe\",\n      \"phone_number\": \"123456789\"\
        ,\n      \"id_number\": \"ABC1234\",\n      \"birth_date\": \"1970-01-01\"\
        ,\n      \"company_name\": null,\n      \"company_reg_number\": null,\n  \
        \    \"vat_id\": null,\n      \"description\": \"test identity\",\n      \"\
        personal_tax_id\": \"987654321\",\n      \"identity_type\": \"Personal\",\n\
        \      \"created_at\": \"2021-04-01T14:56:38.664Z\",\n      \"external_reference_id\"\
        : \"111\",\n      \"verified\": false\n    },\n    \"relationships\": {\n\
        \      \"country\": {\n        \"links\": {\n          \"self\": \"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/relationships/country\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/country\"\
        \n        }\n      },\n      \"proofs\": {\n        \"links\": {\n       \
        \   \"self\": \"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/relationships/proofs\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/proofs\"\
        \n        }\n      },\n      \"addresses\": {\n        \"links\": {\n    \
        \      \"self\": \"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/relationships/addresses\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/addresses\"\
        \n        }\n      },\n      \"permanent_documents\": {\n        \"links\"\
        : {\n          \"self\": \"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/relationships/permanent_documents\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/permanent_documents\"\
        \n        }\n      }\n    }\n  },\n  \"meta\": {\n    \"api_version\": \"\
        2021-04-19\"\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
