interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/identities
  response:
    body:
      string: '{"data":{"id":"9728ea13-cb5d-41fb-8a7f-796a005b0a13","type":"identities","attributes":{"first_name":"John","last_name":"Doe","phone_number":"123456789","id_number":"ABC1234","birth_date":"1970-01-01","company_name":null,"company_reg_number":null,"vat_id":null,"description":"test identity","personal_tax_id":"987654321","identity_type":"personal","created_at":"2021-04-01T14:56:38.664Z","external_reference_id":"111","verified":false},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/relationships/country","related":"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/country"}},"proofs":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/relationships/proofs","related":"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/proofs"}},"addresses":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/relationships/addresses","related":"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/addresses"}},"permanent_documents":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/relationships/permanent_documents","related":"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/permanent_documents"}}}},"meta":{"api_version":"2021-04-19"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
