interactions:
- request:
    body: '{"data":{"type":"identities","attributes":{"first_name":"John","last_name":"Doe","phone_number":"123456789","id_number":"ABC1234","birth_date":"1970-01-01","company_name":"Test
      Company Limited","company_reg_number":"543221","vat_id":"GB1234","description":"test
      identity","personal_tax_id":"987654321","identity_type":"Business","external_reference_id":"111"},"relationships":{"country":{"data":{"type":"countries","id":"1f6fc2bd-f081-4202-9b1a-d9cb88d942b9"}}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/identities
  response:
    body:
      string: "{\n  \"data\": {\n    \"id\": \"e96ae7d1-11d5-42bc-a5c5-211f3c3788ae\"\
        ,\n    \"type\": \"identities\",\n    \"attributes\": {\n      \"first_name\"\
        : \"John\",\n      \"last_name\": \"Doe\",\n      \"phone_number\": \"123456789\"\
        ,\n      \"id_number\": \"ABC1234\",\n      \"birth_date\": \"1970-01-01\"\
        ,\n      \"company_name\": \"Test Company Limited\",\n      \"company_reg_number\"\
        : \"543221\",\n      \"vat_id\": \"GB1234\",\n      \"description\": \"test\
        \ identity\",\n      \"personal_tax_id\": \"987654321\",\n      \"identity_type\"\
        : \"Business\",\n      \"created_at\": \"2021-04-01T14:56:34.637Z\",\n   \
        \   \"external_reference_id\": \"111\",\n      \"verified\": false\n    },\n\
        \    \"relationships\": {\n      \"country\": {\n        \"links\": {\n  \
        \        \"self\": \"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/relationships/country\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/country\"\
        \n        },\n        \"data\": {\n          \"type\": \"countries\",\n  \
        \        \"id\": \"1f6fc2bd-f081-4202-9b1a-d9cb88d942b9\"\n        }\n   \
        \   },\n      \"proofs\": {\n        \"links\": {\n          \"self\": \"\
        https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/relationships/proofs\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/proofs\"\
        \n        }\n      },\n      \"addresses\": {\n        \"links\": {\n    \
        \      \"self\": \"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/relationships/addresses\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/addresses\"\
        \n        }\n      },\n      \"permanent_documents\": {\n        \"links\"\
        : {\n          \"self\": \"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/relationships/permanent_documents\"\
        ,\n          \"related\": \"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/permanent_documents\"\
        \n        }\n      }\n    }\n  },\n  \"included\": [\n    {\n      \"id\"\
        : \"1f6fc2bd-f081-4202-9b1a-d9cb88d942b9\",\n      \"type\": \"countries\"\
        ,\n      \"attributes\": {\n        \"name\": \"United States\",\n       \
        \ \"prefix\": \"1\",\n        \"iso\": \"US\"\n      },\n      \"relationships\"\
        : {\n        \"regions\": {\n          \"links\": {\n            \"self\"\
        : \"https://sandbox-api.didww.com/v3/countries/1f6fc2bd-f081-4202-9b1a-d9cb88d942b9/relationships/regions\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/countries/1f6fc2bd-f081-4202-9b1a-d9cb88d942b9/regions\"\
        \n          }\n        }\n      }\n    }\n  ],\n  \"meta\": {\n    \"api_version\"\
        : \"2021-04-19\"\n  }\n}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
