interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: POST
    uri: https://sandbox-api.didww.com/v3/identities
  response:
    body:
      string: '{"data":{"id":"e96ae7d1-11d5-42bc-a5c5-211f3c3788ae","type":"identities","attributes":{"first_name":"John","last_name":"Doe","phone_number":"123456789","id_number":"ABC1234","birth_date":"1970-01-01","company_name":"Test Company Limited","company_reg_number":"543221","vat_id":"GB1234","description":"test identity","personal_tax_id":"987654321","identity_type":"business","created_at":"2021-04-01T14:56:34.637Z","external_reference_id":"111","verified":false},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/relationships/country","related":"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/country"},"data":{"type":"countries","id":"1f6fc2bd-f081-4202-9b1a-d9cb88d942b9"}},"proofs":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/relationships/proofs","related":"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/proofs"}},"addresses":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/relationships/addresses","related":"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/addresses"}},"permanent_documents":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/relationships/permanent_documents","related":"https://sandbox-api.didww.com/v3/identities/e96ae7d1-11d5-42bc-a5c5-211f3c3788ae/permanent_documents"}}}},"included":[{"id":"1f6fc2bd-f081-4202-9b1a-d9cb88d942b9","type":"countries","attributes":{"name":"United States","prefix":"1","iso":"US"},"relationships":{"regions":{"links":{"self":"https://sandbox-api.didww.com/v3/countries/1f6fc2bd-f081-4202-9b1a-d9cb88d942b9/relationships/regions","related":"https://sandbox-api.didww.com/v3/countries/1f6fc2bd-f081-4202-9b1a-d9cb88d942b9/regions"}}}}],"meta":{"api_version":"2021-04-19"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
