interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/identities
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"5e9df058-50d2-4e34-b0d4-d1746b86f41a\"\
        ,\n      \"type\": \"identities\",\n      \"attributes\": {\n        \"first_name\"\
        : \"John\",\n        \"last_name\": \"Doe\",\n        \"phone_number\": \"\
        123456789\",\n        \"id_number\": \"ABC1234\",\n        \"birth_date\"\
        : \"1970-01-01\",\n        \"company_name\": null,\n        \"company_reg_number\"\
        : null,\n        \"vat_id\": null,\n        \"description\": \"test identity\"\
        ,\n        \"personal_tax_id\": \"987654321\",\n        \"identity_type\"\
        : \"Personal\",\n        \"created_at\": \"2021-04-01T12:57:24.025Z\",\n \
        \       \"external_reference_id\": \"111\",\n        \"verified\": false\n\
        \      },\n      \"relationships\": {\n        \"country\": {\n          \"\
        links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/relationships/country\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/country\"\
        \n          },\n          \"data\": {\n            \"type\": \"countries\"\
        ,\n            \"id\": \"1f6fc2bd-f081-4202-9b1a-d9cb88d942b9\"\n        \
        \  }\n        },\n        \"proofs\": {\n          \"links\": {\n        \
        \    \"self\": \"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/relationships/proofs\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/proofs\"\
        \n          },\n          \"data\": []\n        },\n        \"addresses\"\
        : {\n          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/relationships/addresses\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/addresses\"\
        \n          },\n          \"data\": [\n            {\n              \"type\"\
        : \"addresses\",\n              \"id\": \"d3414687-40f4-4346-a267-c2c65117d28c\"\
        \n            }\n          ]\n        },\n        \"permanent_documents\"\
        : {\n          \"links\": {\n            \"self\": \"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/relationships/permanent_documents\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/permanent_documents\"\
        \n          },\n          \"data\": []\n        }\n      }\n    },\n    {\n\
        \      \"id\": \"9728ea13-cb5d-41fb-8a7f-796a005b0a13\",\n      \"type\":\
        \ \"identities\",\n      \"attributes\": {\n        \"first_name\": \"John\"\
        ,\n        \"last_name\": \"Doe\",\n        \"phone_number\": \"123456789\"\
        ,\n        \"id_number\": \"ABC1234\",\n        \"birth_date\": \"1970-01-01\"\
        ,\n        \"company_name\": null,\n        \"company_reg_number\": null,\n\
        \        \"vat_id\": null,\n        \"description\": \"test identity\",\n\
        \        \"personal_tax_id\": \"987654321\",\n        \"identity_type\": \"\
        Personal\",\n        \"created_at\": \"2021-04-01T14:56:38.664Z\",\n     \
        \   \"external_reference_id\": \"111\",\n        \"verified\": false\n   \
        \   },\n      \"relationships\": {\n        \"country\": {\n          \"links\"\
        : {\n            \"self\": \"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-41fb-8a7f-796a005b0a13/relationships/country\"\
        ,\n            \"related\": \"https://sandbox-api.didww.com/v3/identities/9728ea13-cb5d-4[...]
