interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/identities
  response:
    body:
      string: '{"data":[{"id":"5e9df058-50d2-4e34-b0d4-d1746b86f41a","type":"identities","attributes":{"first_name":"John","last_name":"Doe","phone_number":"123456789","id_number":"ABC1234","birth_date":"1970-01-01","company_name":null,"company_reg_number":null,"vat_id":null,"description":"test identity","personal_tax_id":"987654321","identity_type":"personal","created_at":"2021-04-01T12:57:24.025Z","external_reference_id":"111","verified":false},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/relationships/country","related":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/country"},"data":{"type":"countries","id":"1f6fc2bd-f081-4202-9b1a-d9cb88d942b9"}},"proofs":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/relationships/proofs","related":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/proofs"},"data":[]},"addresses":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/relationships/addresses","related":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/addresses"},"data":[{"type":"addresses","id":"d3414687-40f4-4346-a267-c2c65117d28c"}]},"permanent_documents":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/relationships/permanent_documents","related":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/permanent_documents"},"data":[]}}},{"id":"9728ea13-cb5d-41fb-8a7f-796a005b0a13","type":"identities","attributes":{"first_name":"John","last_name":"Doe","phone_number":"123456789","id_number":"ABC1234","birth_date":"1970-01-01","company_name":null,"company_reg_number":null,"[...]
