interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a?include=country,birth_country
  response:
    body:
      string: '{"data":{"id":"5e9df058-50d2-4e34-b0d4-d1746b86f41a","type":"identities","attributes":{"first_name":"John","last_name":"Doe","phone_number":"123456789","id_number":"ABC1234","birth_date":"1970-01-01","company_name":null,"company_reg_number":null,"vat_id":null,"description":"test identity","personal_tax_id":"987654321","identity_type":"personal","created_at":"2021-04-01T12:57:24.025Z","external_reference_id":"111","verified":false,"contact_email":"john@example.com"},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/relationships/country","related":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/country"},"data":{"type":"countries","id":"1f6fc2bd-f081-4202-9b1a-d9cb88d942b9"}},"birth_country":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/relationships/birth_country","related":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/birth_country"},"data":{"type":"countries","id":"a2b3c4d5-e6f7-8901-abcd-ef2345678901"}},"proofs":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/relationships/proofs","related":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/proofs"}},"addresses":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/relationships/addresses","related":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/addresses"}},"permanent_documents":{"links":{"self":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/relationships/permanent_documents","related":"https://sandbox-api.didww.com/v3/identities/5e9df058-50d2-4e34-b0d4-d1746b86f41a/permanent_documents"}}}},"included":[{"id":"1f6fc2bd-f081-4202-9b1a-d9cb88d942b9","type":"countries","attributes":{"name":"United States","prefix":"1","iso":"US"}},{"id":"a2b3c4d5-e6f7-8901-abcd-ef2345678901","type":"countries","attributes":{"name":"Germany","prefix":"49","iso":"DE"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
