interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/dids
  response:
    body:
      string: '{"data": [{"id": "9df99644-f1a5-4a3c-99a4-559d758eb96b", "type": "dids",
        "attributes": {"blocked": false, "capacity_limit": 2, "description": "something",
        "terminated": false, "awaiting_registration": false, "created_at": "2018-12-27T09:59:55.015Z",
        "number": "16091609123456797", "expires_at": "2019-01-27T10:00:04.755Z", "channels_included_count":
        0, "billing_cycles_count": null, "dedicated_channels_count": 0, "emergency_enabled":
        false}, "relationships": {"did_group": {"links": {"self": "https://sandbox-api.didww.com/v3/dids/9df99644-f1a5-4a3c-99a4-559d758eb96b/relationships/did_group",
        "related": "https://sandbox-api.didww.com/v3/dids/9df99644-f1a5-4a3c-99a4-559d758eb96b/did_group"}},
        "order": {"links": {"self": "https://sandbox-api.didww.com/v3/dids/9df99644-f1a5-4a3c-99a4-559d758eb96b/relationships/order",
        "related": "https://sandbox-api.didww.com/v3/dids/9df99644-f1a5-4a3c-99a4-559d758eb96b/order"},
        "data": {"type": "orders", "id": "11b3fba2-96e2-452e-bed8-5124ed351af3"}},
        "voice_in_trunk": {"links": {"self": "https://sandbox-api.didww.com/v3/dids/9df99644-f1a5-4a3c-99a4-559d758eb96b/relationships/voice_in_trunk",
        "related": "https://sandbox-api.didww.com/v3/dids/9df99644-f1a5-4a3c-99a4-559d758eb96b/voice_in_trunk"}},
        "voice_in_trunk_group": {"links": {"self": "https://sandbox-api.didww.com/v3/dids/9df99644-f1a5-4a3c-99a4-559d758eb96b/relationships/voice_in_trunk_group",
        "related": "https://sandbox-api.didww.com/v3/dids/9df99644-f1a5-4a3c-99a4-559d758eb96b/voice_in_trunk_group"}},
        "capacity_pool": {"links": {"self": "https://sandbox-api.didww.com/v3/dids/9df99644-f1a5-4a3c-99a4-559d758eb96b/relationships/capacity_pool",
        "related": "https://sandbox-api.didww.com/v3/dids/9df99644-f1a5-4a3c-99a4-559d758eb96b/capacity_pool"}},
        "shared_capacity_group": {"links": {"self": "https://sandbox-api.didww.com/v3/dids/9df99644-f1a5-4a3c-99a4-559d758eb96b/relationships/shared_capacity_group",
        "related": "https://sandbox-api.didww.com/v3/dids/9df99644-f1a5-4a3c-99a4-559d758eb96b/shared_capacity_group"}}}},
        {"id": "9467643f-8fbc-4e25-9818-59f8ccfb915a", "type": "dids", "attributes":
        {"blocked": false, "capacity_limit": 2, "description": "something", "terminated":
        false, "awaiting_registration": false, "created_at": "2018-1[...]
