interactions:
- request:
    body: '{"data":{"type":"dids","id":"44957076-778a-4802-b60c-d22db0cda284","relationships":{"emergency_calling_service":{"data":null}}}}'
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: PATCH
    uri: https://sandbox-api.didww.com/v3/dids/44957076-778a-4802-b60c-d22db0cda284
  response:
    body:
      string: '{"data":{"id":"44957076-778a-4802-b60c-d22db0cda284","type":"dids","attributes":{"number":"12025551234","blocked":false,"awaiting_registration":false,"terminated":false,"description":null,"capacity_limit":1,"channels_included_count":1,"dedicated_channels_count":0,"billing_cycles_count":1,"created_at":"2026-04-01T00:00:00.000Z","expires_at":null,"emergency_enabled":false},"relationships":{"emergency_calling_service":{"data":null}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
