interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/supporting_document_templates
  response:
    body:
      string: '{"data":[{"id":"206ccec2-1166-461f-9f58-3a56823db548","type":"supporting_document_templates","attributes":{"name":"Generic LOI","permanent":false,"url":"https://sandbox-api.didww.com/storage/public/w7f2irbo819la7vd7up7u67pkmkn"}},{"id":"fd38c86d-b69b-4ca8-b73c-286a3b93d107","type":"supporting_document_templates","attributes":{"name":"Belgium Registration Form","permanent":true,"url":"https://sandbox-api.didww.com/storage/public/e8lziulj68xetfa5ed6na3g7q7ra"}},{"id":"4199435f-646e-4e9d-a143-8f3b972b10c5","type":"supporting_document_templates","attributes":{"name":"Germany Special Registration Form","permanent":true,"url":"https://sandbox-api.didww.com/storage/public/4rghqnqtba0fa7mbdgig086xej1e"}},{"id":"94be4d74-c968-4d81-91c5-2d11b4e45328","type":"supporting_document_templates","attributes":{"name":"LOI Example","permanent":false,"url":"https://sandbox-api.didww.com/storage/public/xptvgb8derrz0ru95wr9oi68g9tg"}},{"id":"eb810289-8620-44e1-982d-13e6cee70404","type":"supporting_document_templates","attributes":{"name":"TestPermanDoc","permanent":true,"url":"https://sandbox-api.didww.com/storage/public/owwqi77007ks4qx198b7su3eukg6"}}],"meta":{"total_records":30,"api_version":"2026-04-16"},"links":{"first":"https://sandbox-api.didww.com/v3/supporting_document_templates?page%5Bnumber%5D=1&page%5Bsize%5D=5","next":"https://sandbox-api.didww.com/v3/supporting_document_templates?page%5Bnumber%5D=2&page%5Bsize%5D=5","last":"https://sandbox-api.didww.com/v3/supporting_document_templates?page%5Bnumber%5D=6&page%5Bsize%5D=5"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
