interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/supporting_document_templates
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"id\": \"206ccec2-1166-461f-9f58-3a56823db548\"\
        ,\n      \"type\": \"supporting_document_templates\",\n      \"attributes\"\
        : {\n        \"name\": \"Generic LOI\",\n        \"permanent\": false,\n \
        \       \"url\": \"https://sandbox-api.didww.com/storage/public/w7f2irbo819la7vd7up7u67pkmkn\"\
        \n      }\n    },\n    {\n      \"id\": \"fd38c86d-b69b-4ca8-b73c-286a3b93d107\"\
        ,\n      \"type\": \"supporting_document_templates\",\n      \"attributes\"\
        : {\n        \"name\": \"Belgium Registration Form\",\n        \"permanent\"\
        : true,\n        \"url\": \"https://sandbox-api.didww.com/storage/public/e8lziulj68xetfa5ed6na3g7q7ra\"\
        \n      }\n    },\n    {\n      \"id\"[...]
