interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/address_requirements
  response:
    body:
      string: '{"data":[{"id":"b6c80acb-3952-4d53-9e62-fe2348c0636b","type":"address_requirements","attributes":{"identity_type":"Any","personal_area_level":"country","business_area_level":"world_wide","address_area_level":"Area","personal_proof_qty":1,"business_proof_qty":2,"address_proof_qty":1,"personal_mandatory_fields":["Country"],"business_mandatory_fields":null,"service_description_required":false,"restriction_message":"Needs end user registration."},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/country","related":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/country"}},"did_group_type":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/did_group_type","related":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/did_group_type"}},"personal_permanent_document":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/personal_permanent_document","related":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/personal_permanent_document"}},"business_permanent_document":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/business_permanent_document","related":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/business_permanent_document"}},"personal_onetime_document":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/personal_onetime_document","related":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/personal_onetime_document"}},"business_onetime_document":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/business_onetime_document","related":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/business_onetime_document"}},"personal_proof_types":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/personal_proof_types","related":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/personal_proof_types"}},"business_proof_types":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/business_proof_types","related":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/business_proof_types"}},"address_proof_types":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/relationships/address_proof_types","related":"https://sandbox-api.didww.com/v3/address_requirements/b6c80acb-3952-4d53-9e62-fe2348c0636b/address_proof_types"}}}},{"id":"51b293af-a496-4bf2-9c68-5221b3b0dc1e","type":"address_requirements","attributes":{"identity_type":"Any","personal_area_level":"country","business_area_level":"country","address_area_level":"Country","personal_proof_qty":2,[...]
