interactions:
- request:
    body: null
    headers:
      Api-Key:
      - test-api-key
      Content-Type:
      - application/vnd.api+json
    method: GET
    uri: https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959
  response:
    body:
      string: '{"data":{"id":"25d12afe-1ec6-4fe3-9621-b250dd1fb959","type":"address_requirements","attributes":{"identity_type":"Any","personal_area_level":"world_wide","business_area_level":"world_wide","address_area_level":"world_wide","personal_proof_qty":1,"business_proof_qty":1,"address_proof_qty":1,"personal_mandatory_fields":["Birth Date","Country","Personal Tax ID"],"business_mandatory_fields":["Proof of ID","VAT Number / TAX Code","Country","Company ID","Representative Tax ID"],"service_description_required":true,"restriction_message":"End User Registration is Required"},"relationships":{"country":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/country","related":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/country"},"data":{"type":"countries","id":"5b156dc2-327e-4665-bdc5-35cd8729b885"}},"did_group_type":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/did_group_type","related":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/did_group_type"},"data":{"type":"did_group_types","id":"994ea201-4a4d-4b27-ac4b-b5916ac969a3"}},"personal_permanent_document":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/personal_permanent_document","related":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/personal_permanent_document"},"data":{"type":"supporting_document_templates","id":"fd38c86d-b69b-4ca8-b73c-286a3b93d107"}},"business_permanent_document":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/business_permanent_document","related":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/business_permanent_document"},"data":{"type":"supporting_document_templates","id":"fd38c86d-b69b-4ca8-b73c-286a3b93d107"}},"personal_onetime_document":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/personal_onetime_document","related":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/personal_onetime_document"},"data":{"type":"supporting_document_templates","id":"206ccec2-1166-461f-9f58-3a56823db548"}},"business_onetime_document":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/business_onetime_document","related":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/business_onetime_document"},"data":{"type":"supporting_document_templates","id":"206ccec2-1166-461f-9f58-3a56823db548"}},"personal_proof_types":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/personal_proof_types","related":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/personal_proof_types"},"data":[{"type":"proof_types","id":"19cd7b22-559b-41d4-99c9-7ad7ad63d5d1"}]},"business_proof_types":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/business_proof_types","related":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/business_proof_types"},"data":[{"type":"proof_types","id":"af07842f-6339-46fe-83b6-57e457af1eaf"},{"type":"proof_types","id":"56b7d7cb-4d36-49c8-a786-2179967bba4c"},{"type":"proof_types","id":"ecf699c6-b1ad-4866-974b-06d2e8a698e6"},{"type":"proof_types","id":"7f80edde-1b80-4410-af06-76a38ea9e576"},{"type":"proof_types","id":"80253913-cd8b-4ce2-91a9-9299587ac409"},{"type":"proof_types","id":"0eb83bb2-730c-45fb-b39c-c0bf02f88e9e"},{"type":"proof_types","id":"1f3f4747-0835-44a4-9e5f-40e52ec4fce7"}]},"address_proof_types":{"links":{"self":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/relationships/address_proof_types","related":"https://sandbox-api.didww.com/v3/address_requirements/25d12afe-1ec6-4fe3-9621-b250dd1fb959/address_proof_types"},"data":[{"type":"proof_types","id":"d2c1b3fb-29f7-46ca-ba82-b617f4630b78"}]}}},"included":[{"id":"5b156dc2-327e-4665-bdc5-35cd8729b885","type":"countries","attributes":{"name":"Spain","prefix":"34","iso":"ES"},"relationships":{"regions":{"links":{"self":"https://sandbox-api.didww.com/v3/countries/5b156dc2-327e-4665-bdc5-35cd8729b885/relationships/regions","related":"https://sandbox-api.didww.com/v3/countries/5b156dc2-327e-4665-bdc5-35cd8729b885/regions"}}}},{"id":"994ea201-4a4d-4b27-ac4b-b5916ac969a3","type":"did_group_types","attributes":{"name":"Local"}},{"id":"fd38c86d-b69b-4ca8-b73c-286a3b93d107","type":"supporting_document_templates","attributes":{"name":"Belgium Registration Form","permanent":true,"url":"https://sandbox-api.didww.com/storage/public/e8lziulj68xetfa5ed6na3g7q7ra"}},{"id":"206ccec2-1166-461f-9f58-3a56823db548","type":"supporting_document_templates","attributes":{"name":"Generic LOI","permanent":false,"url":"https://sandbox-api.didww.com/storage/public/w7f2irbo819la7vd7up7u67pkmkn"}},{"id":"19cd7b22-559b-41d4-99c9-7ad7ad63d5d1","type":"proof_types","attributes":{"name":"Drivers License","entity_type":"Personal"}},{"id":"af07842f-6339-46fe-83b6-57e457af1eaf","type":"proof_types","attributes":{"name":"Business Registration Certificate / Incorporation Certificate","entity_type":"Business"}},{"id":"56b7d7cb-4d36-49c8-a786-2179967bba4c","type":"proof_types","attributes":{"name":"Trade License","entity_type":"Business"}},{"id":"ecf699c6-b1ad-4866-974b-06d2e8a698e6","type":"proof_types","attributes":{"name":"Excerpt from the commercial register","entity_type":"Business"}},{"id":"7f80edde-1b80-4410-af06-76a38ea9e576","type":"proof_types","attributes":{"name":"Other","entity_type":"Business"}},{"id":"80253913-cd8b-4ce2-91a9-9299587ac409","type":"proof_types","attributes":{"name":"Passport","entity_type":"Business"}},{"id":"0eb83bb2-730c-45fb-b39c-c0bf02f88e9e","type":"proof_types","attributes":{"name":"National ID","entity_type":"Business"}},{"id":"1f3f4747-0835-44a4-9e5f-40e52ec4fce7","type":"proof_types","attributes":{"name":"Drivers License","entity_type":"Business"}},{"id":"d2c1b3fb-29f7-46ca-ba82-b617f4630b78","type":"proof_types","attributes":{"name":"Copy of Phone Bill","entity_type":"Address"}}],"meta":{"api_version":"2026-04-16"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
